# Set up notebook

In [1]:
MY_API_KEY='7ca7d761c1c9d2b36a6b6d0857c78344f9b7f8b0'

In [2]:
!pip install censusdata

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: censusdata in /usr/local/lib/python3.9/dist-packages (1.15.post1)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from censusdata) (2.27.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from censusdata) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->censusdata) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas->censusdata) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->censusdata) (2022.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->censusdata) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->censusdata) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->censusdata) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->censusdata) (2022.12.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->censusdata) (1.16.0)

In [3]:
import pandas as pd
import censusdata
import numpy as np
import matplotlib.pyplot as plt

In [4]:
def add_FIP(df):
    county_fip=[]
    tract_fip=[]
    block_fip=[]
    
    for county in df.index:
        county_=county.geo[0][1]+county.geo[1][1]
        tract_=county.geo[0][1]+county.geo[1][1]+county.geo[2][1]
        try:
            block_=county.geo[0][1]+county.geo[1][1]+county.geo[2][1]+county.geo[3][1]
            block_fip.append(block_)
            is_block=True
        except:
            is_block=False
        
        
        county_fip.append(county_)
        tract_fip.append(tract_)
        
        
        #place_name.append(county.name)
    df['County'] =county_fip
    df['Tract'] =tract_fip
    if is_block: 
        df['block_FIP'] =block_fip
    #df['place']=place_name
    return df

In [5]:
year=2019 #2019 
county_list=['005', '047', '081',  '061'] #bx, bk, manhattan, queens

#Race and population

In [6]:
#Hsu designates five groups: Asian, Black, Hispanic, White, and no majority groups.
censusdata.printtable(censusdata.censustable('acs5', year, 'B03002'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B03002_001E  | HISPANIC OR LATINO ORIGIN BY R | !! Estimate Total:                                       | int
B03002_002E  | HISPANIC OR LATINO ORIGIN BY R | !! !! Estimate Total: Not Hispanic or Latino:            | int
B03002_003E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: White a | int
B03002_004E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: Black o | int
B03002_005E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: America | int
B03002_006E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: Asian a | int
B03002_007E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: Native  | int
B03002_008E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: Some ot | int
B03002_009E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: Two or  | int
B03002_010E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! !! Estimate Total: Not Hispanic or Latino: Two  | int
B03002_011E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! !! Estimate Total: Not Hispanic or Latino: Two  | int
B03002_012E  | HISPANIC OR LATINO ORIGIN BY R | !! !! Estimate Total: Hispanic or Latino:                | int
B03002_013E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: White alone | int
B03002_014E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: Black or Af | int
B03002_015E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: American In | int
B03002_016E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: Asian alone | int
B03002_017E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: Native Hawa | int
B03002_018E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: Some other  | int
B03002_019E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: Two or more | int
B03002_020E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! !! Estimate Total: Hispanic or Latino: Two or m | int
B03002_021E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! !! Estimate Total: Hispanic or Latino: Two or m | int
-------------------------------------------------------------------------------------------------------------------

In [7]:
race_variables={'B03002_001E':'Race_Total','B03002_003E':'White','B03002_004E':'Black','B03002_012E':'Hispanic_Latino',
               'B03002_006E':"Asian", 'B03002_009E':'Mixed'}
#total-white-black-hispanic-asian-mixed=minor races

In [8]:
def make_race_df(county_code):
    race_data = censusdata.download('acs5', year, censusdata.censusgeo([('state', '36'), ('county', county_code), ('tract', '*')]),
                                       list(race_variables.keys()),key=MY_API_KEY)
    race_data.columns=race_data.columns.map(race_variables)
    
    race_data=add_FIP(race_data)
    return race_data

# HH income

In [9]:
censusdata.printtable(censusdata.censustable('acs5', year, 'B19013'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B19013_001E  | MEDIAN HOUSEHOLD INCOME IN THE | !! Estimate Median household income in the past 12 month | int
-------------------------------------------------------------------------------------------------------------------

In [10]:
def make_income_df(county_code):
    income_data=censusdata.download('acs5', year, censusdata.censusgeo([('state', '36'), ('county', county_code), ('tract', '*')]),
                                       ['B19013_001E'],key=MY_API_KEY)
    income_data.columns=['Median_Income']
    income_data=add_FIP(income_data)
    

    return income_data

#Education attainment

In [11]:
censusdata.printtable(censusdata.censustable('acs5', year, 'B15003'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B15003_001E  | EDUCATIONAL ATTAINMENT FOR THE | !! Estimate Total:                                       | int
B15003_002E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: No schooling completed             | int
B15003_003E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Nursery school                     | int
B15003_004E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Kindergarten                       | int
B15003_005E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 1st grade                          | int
B15003_006E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 2nd grade                          | int
B15003_007E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 3rd grade                          | int
B15003_008E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 4th grade                          | int
B15003_009E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 5th grade                          | int
B15003_010E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 6th grade                          | int
B15003_011E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 7th grade                          | int
B15003_012E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 8th grade                          | int
B15003_013E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 9th grade                          | int
B15003_014E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 10th grade                         | int
B15003_015E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 11th grade                         | int
B15003_016E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: 12th grade, no diploma             | int
B15003_017E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Regular high school diploma        | int
B15003_018E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: GED or alternative credential      | int
B15003_019E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Some college, less than 1 year     | int
B15003_020E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Some college, 1 or more years, no  | int
B15003_021E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Associate's degree                 | int
B15003_022E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Bachelor's degree                  | int
B15003_023E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Master's degree                    | int
B15003_024E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Professional school degree         | int
B15003_025E  | EDUCATIONAL ATTAINMENT FOR THE | !! !! Estimate Total: Doctorate degree                   | int
-------------------------------------------------------------------------------------------------------------------

In [12]:
#bachelor's and above only
edu_variables = {'B15003_001E':'Edu_Tot','B15003_022E':'Bachelor', 'B15003_023E':'Master', 
                 'B15003_024E':'Prefessional', 'B15003_025E':'Doctorate', 'B03002_001E':'Pop_Total'}

In [13]:
def make_edu_df(county_code):
    edu_data = censusdata.download('acs5', year, censusdata.censusgeo([('state', '36'), ('county', county_code), ('tract', '*')]),
                                       list(edu_variables.keys()),key=MY_API_KEY)
    edu_data.columns=edu_data.columns.map(edu_variables)
    
    edu_data=add_FIP(edu_data)
    return edu_data

#Combine to one dataframe

In [14]:
race = []
income = []
edu = []

for county in county_list:
    race.append(make_race_df(county))
    income.append(make_income_df(county))
    edu.append(make_edu_df(county))

##Dataframe for race

The race categories here included are: 

*   White
*   Black
*   Hispanic or Latino
*   Asian
*   Other races
*   Mixed

In [15]:
race_col = ['Race_Total','White','Black',
            'Hispanic_Latino',"Asian",'Mixed','County', 'Tract']

race_d = pd.DataFrame()
race_df = pd.concat([race_d, (pd.DataFrame(data=race[0], columns=race_col)),
                     (pd.DataFrame(data=race[1], columns=race_col)),
                     (pd.DataFrame(data=race[2], columns=race_col)),
                     (pd.DataFrame(data=race[3], columns=race_col))]).reset_index(drop=True)

#total-white-black-hispanic-asian-mixed=minor races
race_df['Other'] = race_df['Race_Total']-race_df.iloc[:,1:-2].sum(axis=1)

#% of each race
races = ['White', 'Black',
        'Hispanic_Latino',"Asian",
        'Other', 'Mixed']
for i in range(len(races)):
  race_df['%{}'.format(races[i])]=(race_df['{}'.format(races[i])]/race_df['Race_Total'])*100

race_df = race_df.iloc[:, [6,7,9,10,11,12,13,14]]

race_df.head(2)

,County,Tract,%White,%Black,%Hispanic_Latino,%Asian,%Other,%Mixed
0,36005,36005020000,2.759499,9.382297,61.197198,23.392061,2.080238,1.188707
1,36005,36005020501,1.046445,26.333142,71.530963,0.788417,0.000000,0.301032

## Dataframe for income

In [16]:
inc_col = ['Median_Income','County', 'Tract']


inc_d = pd.DataFrame()
inc_df = pd.concat([inc_d, (pd.DataFrame(data=income[0], columns=inc_col)),
                     (pd.DataFrame(data=income[1], columns=inc_col)),
                     (pd.DataFrame(data=income[2], columns=inc_col)),
                     (pd.DataFrame(data=income[3], columns=inc_col))]).reset_index(drop=True)

inc_df.head(2)

   Median_Income County        Tract
0          40184  36005  36005020000
1          17601  36005  36005020501

## Dataframe for education attainment

The education attainment is reported for the population above 25 years old. The percentage calculated here is $\frac{Bachelor's\: or\: higher}{Total\:population \:(all\:ages)}$

In [17]:
edu_col = ['Edu_Tot', 'Bachelor','Master', 
           'Prefessional', 'Doctorate','Pop_Total','County', 'Tract'] 

edu_d = pd.DataFrame()
edu_df = pd.concat([edu_d, (pd.DataFrame(data=edu[0], columns=edu_col)),
                     (pd.DataFrame(data=edu[1], columns=edu_col)),
                     (pd.DataFrame(data=edu[2], columns=edu_col)),
                     (pd.DataFrame(data=edu[3], columns=edu_col))]).reset_index(drop=True)

edu_df['%Edu_Att'] = ((edu_df.iloc[:, 1:5].sum(axis=1))/edu_df['Pop_Total'])*100
edu_df = edu_df.iloc[:, -4:]

edu_df.head(2)

   Pop_Total County        Tract   %Edu_Att
0       4711  36005  36005020000  15.516875
1       6976  36005  36005020501   7.124427

##Combine the three dataframes

In [18]:
merge1 = race_df.merge(inc_df,how='inner',on='Tract')
merge1 = merge1.iloc[:, 1:-1]
merge1.head(2)

,Tract,%White,%Black,%Hispanic_Latino,%Asian,%Other,%Mixed,Median_Income
0,36005020000,2.759499,9.382297,61.197198,23.392061,2.080238,1.188707,40184
1,36005020501,1.046445,26.333142,71.530963,0.788417,0.000000,0.301032,17601

In [19]:
df_combined = merge1.merge(edu_df,how='inner',on='Tract')
df_combined = df_combined[['Tract', 'Pop_Total', '%White', '%Black',
                '%Hispanic_Latino',"%Asian",
                '%Other', '%Mixed', 'Median_Income', '%Edu_Att']]
df_combined

,Tract,Pop_Total,%White,%Black,%Hispanic_Latino,%Asian,%Other,%Mixed,Median_Income,%Edu_Att
0,36005020000,4711,2.759499,9.382297,61.197198,23.392061,2.080238,1.188707,40184,15.516875
1,36005020501,6976,1.046445,26.333142,71.530963,0.788417,0.000000,0.301032,17601,7.124427
2,36005020502,2160,1.666667,26.435185,71.481481,0.138889,0.000000,0.277778,18919,13.703704
3,36005020900,4287,3.825519,37.602053,57.872638,0.256590,0.209937,0.233263,31190,10.566830
4,36005021001,8930,2.183651,50.470325,36.125420,8.801792,1.209406,1.209406,54076,18.969765
...,...,...,...,...,...,...,...,...,...,...
2052,36061021800,6236,20.525978,58.611289,18.136626,1.860167,0.545221,0.320718,49482,30.596536
2053,36061028300,7949,19.335766,5.535287,68.964650,4.981759,0.314505,0.868034,56855,28.053843
2054,36061029100,12165,6.321414,5.318537,82.836005,4.069051,0.139745,1.315249,47054,15.330867
2055,36061029500,8182,34.808115,2.994378,56.318748,3.312149,0.378880,2.187729,73514,38.926913
2056,36061000900,1796,63.697105,4.342984,9.242762,18.262806,0.946548,3.507795,206750,72.661470

In [20]:
df_combined.to_csv('census_tract_level.csv',index=False)

#Create centroid in tract shapefile and join to the df above

In [21]:
# Install Geopandas
!pip install geopandas
!pip install fiona
!pip install gdal
# Install rtree - Geopandas requirment
!pip install rtree 
# Install descartes - Geopandas requirment
!pip install descartes 
# Install plotlyExpress
!pip install plotly_express
# Install shapely for geometry
!pip install shapely

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.9/dist-packages (0.12.2)
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.9/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from geopandas) (23.0)
Requirement already satisfied: pyproj>=2.6.1.post1 in /usr/local/lib/python3.9/dist-packages (from geopandas) (3.4.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.9/dist-packages (from geopandas) (1.9.2)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from geopandas) (1.4.4)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (22.2.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: munch>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (8.1.3)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (2022.12.7)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (6.1.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (1.22.4)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata->fiona>=1.8->geopandas) (3.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fiona in /usr/local/lib/python3.9/dist-packages (1.9.2)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.9/dist-packages (from fiona) (0.7.2)
Requirement already satisfied: munch>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from fiona) (2.5.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.9/dist-packages (from fiona) (1.1.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from fiona) (2022.12.7)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.9/dist-packages (from fiona) (22.2.0)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.9/dist-packages (from fiona) (8.1.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.9/dist-packages (from fiona) (6.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from munch>=2.3.2->fiona) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata->fiona) (3.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdal in /usr/local/lib/python3.9/dist-packages (3.3.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: rtree in /usr/local/lib/python3.9/dist-packages (1.0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: descartes in /usr/local/lib/python3.9/dist-packages (1.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from descartes) (3.7.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (4.39.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (0.11.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (1.22.4)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (3.0.9)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (5.12.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (23.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (1.0.7)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (8.4.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib->descartes) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib->descartes) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly_express in /usr/local/lib/python3.9/dist-packages (0.4.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.9/dist-packages (from plotly_express) (1.22.4)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from plotly_express) (1.4.4)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.9/dist-packages (from plotly_express) (1.10.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from plotly_express) (0.13.5)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.9/dist-packages (from plotly_express) (5.13.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.9/dist-packages (from plotly_express) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.20.0->plotly_express) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5->plotly_express) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from plotly>=4.1.0->plotly_express) (8.2.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->plotly_express) (23.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: shapely in /usr/local/lib/python3.9/dist-packages (2.0.1)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.9/dist-packages (from shapely) (1.22.4)

In [22]:
import geopandas as gpd

In [23]:
nys_tract = gpd.read_file('/content/tl_2019_36_tract.shp').set_crs(4326, allow_override=True)
nys_tract.shape

(4918, 13)

In [24]:
nys_tract.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

Use internal point in the census tract shapefile:
*Internal pointThe Census Bureau calculates an internal point (latitude and longitude coordinates) for each geographic area. For many geographic areas, the internal point is the centroid, the geographic center of the entity. For some irregularly shaped areas (such as those shaped like a crescent), the centroid may be located outside the boundaries of the entity. In such instances, the internal point is identified as a point inside the entity boundaries nearest to the centroid and, if possible, a point that is on land area, not water.*

In [25]:
nys_tract.head(2)

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,36,081,044800,36081044800,448,Census Tract 448,G5020,S,208002,0,+40.7110219,-073.8026344,"POLYGON ((-73.80646 40.71206, -73.80556 40.712..."
1,36,081,045800,36081045800,458,Census Tract 458,G5020,S,245281,0,+40.7152626,-073.7909261,"POLYGON ((-73.79364 40.71382, -73.79362 40.713..."

In [26]:
nys_tract = nys_tract.iloc[:, [3, 10, 11, 12]]
nys_tract.head(5)

,GEOID,INTPTLAT,INTPTLON,geometry
0,36081044800,+40.7110219,-073.8026344,"POLYGON ((-73.80646 40.71206, -73.80556 40.712..."
1,36081045800,+40.7152626,-073.7909261,"POLYGON ((-73.79364 40.71382, -73.79362 40.713..."
2,36081046200,+40.7098547,-073.7879749,"POLYGON ((-73.79203 40.71107, -73.79101 40.711..."
3,36081046300,+40.7440007,-073.8710900,"POLYGON ((-73.87468 40.74335, -73.87423 40.743..."
4,36081046400,+40.7168637,-073.7869958,"POLYGON ((-73.79187 40.71379, -73.79085 40.714..."

In [27]:
tract_df = pd.DataFrame(nys_tract)
tract_df.head(5)

,GEOID,INTPTLAT,INTPTLON,geometry
0,36081044800,+40.7110219,-073.8026344,"POLYGON ((-73.80646 40.71206, -73.80556 40.712..."
1,36081045800,+40.7152626,-073.7909261,"POLYGON ((-73.79364 40.71382, -73.79362 40.713..."
2,36081046200,+40.7098547,-073.7879749,"POLYGON ((-73.79203 40.71107, -73.79101 40.711..."
3,36081046300,+40.7440007,-073.8710900,"POLYGON ((-73.87468 40.74335, -73.87423 40.743..."
4,36081046400,+40.7168637,-073.7869958,"POLYGON ((-73.79187 40.71379, -73.79085 40.714..."

In [28]:
#merge with the census df from before
tract_merged = df_combined.merge(tract_df,how='inner',left_on='Tract', right_on='GEOID')\
                          .drop(columns=['GEOID'])
tract_merged.head(2)

,Tract,Pop_Total,%White,%Black,%Hispanic_Latino,%Asian,%Other,%Mixed,Median_Income,%Edu_Att,INTPTLAT,INTPTLON,geometry
0,36005020000,4711,2.759499,9.382297,61.197198,23.392061,2.080238,1.188707,40184,15.516875,+40.8428349,-073.8455162,"POLYGON ((-73.84999 40.84285, -73.84939 40.842..."
1,36005020501,6976,1.046445,26.333142,71.530963,0.788417,0.000000,0.301032,17601,7.124427,+40.8474409,-073.9236597,"POLYGON ((-73.92815 40.84551, -73.92811 40.845..."

In [29]:
#create geodataframe to save as shapefile
tract_merged_gdf = gpd.GeoDataFrame(tract_merged, geometry='geometry')
tract_merged_gdf.head(2)

,Tract,Pop_Total,%White,%Black,%Hispanic_Latino,%Asian,%Other,%Mixed,Median_Income,%Edu_Att,INTPTLAT,INTPTLON,geometry
0,36005020000,4711,2.759499,9.382297,61.197198,23.392061,2.080238,1.188707,40184,15.516875,+40.8428349,-073.8455162,"POLYGON ((-73.84999 40.84285, -73.84939 40.842..."
1,36005020501,6976,1.046445,26.333142,71.530963,0.788417,0.000000,0.301032,17601,7.124427,+40.8474409,-073.9236597,"POLYGON ((-73.92815 40.84551, -73.92811 40.845..."

In [31]:
tract_merged_gdf.to_file('tract_with_info.shp')

<ipython-input-31-3fa75e98851d>:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  tract_merged_gdf.to_file('tract_with_info.shp')
WARNING:fiona._env:Normalized/laundered field name: '%Hispanic_Latino' to '%Hispanic_'
WARNING:fiona._env:Normalized/laundered field name: 'Median_Income' to 'Median_Inc'