# Set up notebook

In [1]:
MY_API_KEY='7ca7d761c1c9d2b36a6b6d0857c78344f9b7f8b0'

In [2]:
!pip install censusdata

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: censusdata in /usr/local/lib/python3.9/dist-packages (1.15.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from censusdata) (1.4.4)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from censusdata) (2.27.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->censusdata) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->censusdata) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas->censusdata) (1.22.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->censusdata) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->censusdata) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->censusdata) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->censusdata) (2.0.12)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->censusdata) (1.16.0)

In [3]:
import pandas as pd
import censusdata
import numpy as np
import matplotlib.pyplot as plt

In [4]:
def add_FIP(df):
    county_fip=[]
    tract_fip=[]
    block_fip=[]
    
    for county in df.index:
        county_=county.geo[0][1]+county.geo[1][1]
        tract_=county.geo[0][1]+county.geo[1][1]+county.geo[2][1]
        try:
            block_=county.geo[0][1]+county.geo[1][1]+county.geo[2][1]+county.geo[3][1]
            block_fip.append(block_)
            is_block=True
        except:
            is_block=False
        
        
        county_fip.append(county_)
        tract_fip.append(tract_)
        
        
        #place_name.append(county.name)
    df['County'] =county_fip
    df['Tract'] =tract_fip
    if is_block: 
        df['block_FIP'] =block_fip
    #df['place']=place_name
    return df

In [5]:
year=2019 #2019 
county_list=['005', '047', '081',  '061'] #bx, bk, manhattan, queens

#Race and population

In [6]:
#Hsu designates five groups: Asian, Black, Hispanic, White, and no majority groups.
censusdata.printtable(censusdata.censustable('acs5', year, 'B03002'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B03002_001E  | HISPANIC OR LATINO ORIGIN BY R | !! Estimate Total:                                       | int
B03002_002E  | HISPANIC OR LATINO ORIGIN BY R | !! !! Estimate Total: Not Hispanic or Latino:            | int
B03002_003E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: White a | int
B03002_004E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: Black o | int
B03002_005E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: America | int
B03002_006E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: Asian a | int
B03002_007E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: Native  | int
B03002_008E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: Some ot | int
B03002_009E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Not Hispanic or Latino: Two or  | int
B03002_010E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! !! Estimate Total: Not Hispanic or Latino: Two  | int
B03002_011E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! !! Estimate Total: Not Hispanic or Latino: Two  | int
B03002_012E  | HISPANIC OR LATINO ORIGIN BY R | !! !! Estimate Total: Hispanic or Latino:                | int
B03002_013E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: White alone | int
B03002_014E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: Black or Af | int
B03002_015E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: American In | int
B03002_016E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: Asian alone | int
B03002_017E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: Native Hawa | int
B03002_018E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: Some other  | int
B03002_019E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! Estimate Total: Hispanic or Latino: Two or more | int
B03002_020E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! !! Estimate Total: Hispanic or Latino: Two or m | int
B03002_021E  | HISPANIC OR LATINO ORIGIN BY R | !! !! !! !! Estimate Total: Hispanic or Latino: Two or m | int
-------------------------------------------------------------------------------------------------------------------

In [7]:
race_variables={'B03002_001E':'Race_Total','B03002_003E':'White','B03002_004E':'Black','B03002_012E':'Hispanic_Latino',
               'B03002_006E':"Asian", 'B03002_009E':'Mixed'}
#total-white-black-hispanic-asian-mixed=minor races

In [8]:
def make_race_df(county_code):
    race_data = censusdata.download('acs5', year, censusdata.censusgeo([('state', '36'), ('county', county_code), ('tract', '*')]),
                                       list(race_variables.keys()),key=MY_API_KEY)
    race_data.columns=race_data.columns.map(race_variables)
    
    race_data=add_FIP(race_data)
    return race_data

# HH income

In [9]:
censusdata.printtable(censusdata.censustable('acs5', year, 'B19013'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B19013_001E  | MEDIAN HOUSEHOLD INCOME IN THE | !! Estimate Median household income in the past 12 month | int
-------------------------------------------------------------------------------------------------------------------

In [10]:
def make_income_df(county_code):
    income_data=censusdata.download('acs5', year, censusdata.censusgeo([('state', '36'), ('county', county_code), ('tract', '*')]),
                                       ['B19013_001E'],key=MY_API_KEY)
    income_data.columns=['Median_Income']
    income_data=add_FIP(income_data)
    

    return income_data

#Education attainment

https://censusreporter.org/tables/B15001/

In [11]:
censusdata.printtable(censusdata.censustable('acs5', year, 'B15001'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B15001_001E  | SEX BY AGE BY EDUCATIONAL ATTA | !! Estimate Total:                                       | int
B15001_002E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! Estimate Total: Male:                              | int
B15001_003E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! Estimate Total: Male: 18 to 24 years:           | int
B15001_004E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 18 to 24 years: Less t | int
B15001_005E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 18 to 24 years: 9th to | int
B15001_006E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 18 to 24 years: High s | int
B15001_007E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 18 to 24 years: Some c | int
B15001_008E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 18 to 24 years: Associ | int
B15001_009E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 18 to 24 years: Bachel | int
B15001_010E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 18 to 24 years: Gradua | int
B15001_011E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! Estimate Total: Male: 25 to 34 years:           | int
B15001_012E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 25 to 34 years: Less t | int
B15001_013E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 25 to 34 years: 9th to | int
B15001_014E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 25 to 34 years: High s | int
B15001_015E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 25 to 34 years: Some c | int
B15001_016E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 25 to 34 years: Associ | int
B15001_017E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 25 to 34 years: Bachel | int
B15001_018E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 25 to 34 years: Gradua | int
B15001_019E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! Estimate Total: Male: 35 to 44 years:           | int
B15001_020E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 35 to 44 years: Less t | int
B15001_021E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 35 to 44 years: 9th to | int
B15001_022E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 35 to 44 years: High s | int
B15001_023E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 35 to 44 years: Some c | int
B15001_024E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 35 to 44 years: Associ | int
B15001_025E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 35 to 44 years: Bachel | int
B15001_026E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 35 to 44 years: Gradua | int
B15001_027E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! Estimate Total: Male: 45 to 64 years:           | int
B15001_028E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 45 to 64 years: Less t | int
B15001_029E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 45 to 64 years: 9th to | int
B15001_030E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 45 to 64 years: High s | int
B15001_031E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 45 to 64 years: Some c | int
B15001_032E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 45 to 64 years: Associ | int
B15001_033E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 45 to 64 years: Bachel | int
B15001_034E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 45 to 64 years: Gradua | int
B15001_035E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! Estimate Total: Male: 65 years and over:        | int
B15001_036E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 65 years and over: Les | int
B15001_037E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 65 years and over: 9th | int
B15001_038E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 65 years and over: Hig | int
B15001_039E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 65 years and over: Som | int
B15001_040E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 65 years and over: Ass | int
B15001_041E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 65 years and over: Bac | int
B15001_042E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Male: 65 years and over: Gra | int
B15001_043E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! Estimate Total: Female:                            | int
B15001_044E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! Estimate Total: Female: 18 to 24 years:         | int
B15001_045E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 18 to 24 years: Less | int
B15001_046E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 18 to 24 years: 9th  | int
B15001_047E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 18 to 24 years: High | int
B15001_048E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 18 to 24 years: Some | int
B15001_049E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 18 to 24 years: Asso | int
B15001_050E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 18 to 24 years: Bach | int
B15001_051E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 18 to 24 years: Grad | int
B15001_052E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! Estimate Total: Female: 25 to 34 years:         | int
B15001_053E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 25 to 34 years: Less | int
B15001_054E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 25 to 34 years: 9th  | int
B15001_055E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 25 to 34 years: High | int
B15001_056E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 25 to 34 years: Some | int
B15001_057E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 25 to 34 years: Asso | int
B15001_058E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 25 to 34 years: Bach | int
B15001_059E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 25 to 34 years: Grad | int
B15001_060E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! Estimate Total: Female: 35 to 44 years:         | int
B15001_061E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 35 to 44 years: Less | int
B15001_062E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 35 to 44 years: 9th  | int
B15001_063E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 35 to 44 years: High | int
B15001_064E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 35 to 44 years: Some | int
B15001_065E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 35 to 44 years: Asso | int
B15001_066E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 35 to 44 years: Bach | int
B15001_067E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 35 to 44 years: Grad | int
B15001_068E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! Estimate Total: Female: 45 to 64 years:         | int
B15001_069E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 45 to 64 years: Less | int
B15001_070E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 45 to 64 years: 9th  | int
B15001_071E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 45 to 64 years: High | int
B15001_072E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 45 to 64 years: Some | int
B15001_073E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 45 to 64 years: Asso | int
B15001_074E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 45 to 64 years: Bach | int
B15001_075E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 45 to 64 years: Grad | int
B15001_076E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! Estimate Total: Female: 65 years and over:      | int
B15001_077E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 65 years and over: L | int
B15001_078E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 65 years and over: 9 | int
B15001_079E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 65 years and over: H | int
B15001_080E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 65 years and over: S | int
B15001_081E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 65 years and over: A | int
B15001_082E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 65 years and over: B | int
B15001_083E  | SEX BY AGE BY EDUCATIONAL ATTA | !! !! !! !! Estimate Total: Female: 65 years and over: G | int
-------------------------------------------------------------------------------------------------------------------

In [12]:
#high school and above
#bachelor's and above
#edu_tot as denominator
edu_variables = {'B15001_001E':'Edu_Tot', 'B15001_006E':'18m_hs', 'B15001_007E':'18m_some_c',
                 'B15001_008E':'18m_ass', 'B15001_009E':'18m_bac', 'B15001_010E':'18m_grad',
                 'B15001_014E':'25m_hs', 'B15001_015E':'25m_some_c', 'B15001_016E':'25m_ass',
                 'B15001_017E':'25m_bac', 'B15001_018E':'25m_grad',
                 'B15001_022E':'35m_hs', 'B15001_023E':'35m_some_c', 'B15001_024E':'35m_ass',
                 'B15001_025E':'35m_bac', 'B15001_026E':'35m_grad',
                 'B15001_030E':'45m_hs', 'B15001_031E':'45m_some_c', 'B15001_032E':'45m_ass',
                 'B15001_033E':'45m_bac', 'B15001_034E':'45m_grad',
                 'B15001_038E':'65m_hs', 'B15001_039E':'65m_some_c', 'B15001_040E':'65m_ass',
                 'B15001_041E':'65m_bac', 'B15001_042E':'65m_grad',
                 'B15001_047E':'18f_hs', 'B15001_048E':'18f_some_c', 'B15001_049E':'18f_ass', 
                 'B15001_050E':'18f_bac', 'B15001_051E':'18f_grad',
                 'B15001_055E':'25f_hs', 'B15001_056E':'25f_some_c', 'B15001_057E':'25f_ass',
                 'B15001_058E':'25f_bac', 'B15001_059E':'25f_grad',
                 'B15001_063E':'35f_hs', 'B15001_064E':'35f_some_c', 'B15001_065E':'35f_ass',
                 'B15001_066E':'35f_bac', 'B15001_067E':'35f_grad',
                 'B15001_071E':'45f_hs', 'B15001_072E':'45f_some_c', 'B15001_073E':'45f_ass',
                 'B15001_074E':'45f_bac', 'B15001_075E':'45f_grad',
                 'B15001_079E':'65f_hs', 'B15001_080E':'65f_some_c', 'B15001_081E':'65f_ass',
                 'B15001_082E':'65f_bac', 'B15001_083E':'65f_grad'}

In [13]:
def make_edu_df(county_code):
    edu_data = censusdata.download('acs5', year, censusdata.censusgeo([('state', '36'), ('county', county_code), ('tract', '*')]),
                                       list(edu_variables.keys()), key=MY_API_KEY)
    edu_data.columns=edu_data.columns.map(edu_variables)
    
    edu_data=add_FIP(edu_data)
    return edu_data

#Combine to one dataframe

In [14]:
race = []
income = []
edu = []

for county in county_list:
    race.append(make_race_df(county))
    income.append(make_income_df(county))
    edu.append(make_edu_df(county))

##Dataframe for race

The race categories here included are: 

*   White
*   Black
*   Hispanic or Latino
*   Asian
*   Other races
*   Mixed

In [15]:
race_col = ['Race_Total','White','Black',
            'Hispanic_Latino',"Asian",'Mixed','County', 'Tract']

race_d = pd.DataFrame()
race_df = pd.concat([race_d, (pd.DataFrame(data=race[0], columns=race_col)),
                     (pd.DataFrame(data=race[1], columns=race_col)),
                     (pd.DataFrame(data=race[2], columns=race_col)),
                     (pd.DataFrame(data=race[3], columns=race_col))]).reset_index(drop=True)

#total-white-black-hispanic-asian-mixed=minor races
race_df['Other'] = race_df['Race_Total']-race_df.iloc[:,1:-2].sum(axis=1)

#% of each race
races = ['White', 'Black',
        'Hispanic_Latino',"Asian",
        'Other', 'Mixed']
for i in range(len(races)):
  race_df['%{}'.format(races[i])]=(race_df['{}'.format(races[i])]/race_df['Race_Total'])*100

race_df = race_df.iloc[:, [0,6,7,9,10,11,12,13,14]]

race_df.head(2)

,Race_Total,County,Tract,%White,%Black,%Hispanic_Latino,%Asian,%Other,%Mixed
0,4711,36005,36005020000,2.759499,9.382297,61.197198,23.392061,2.080238,1.188707
1,6976,36005,36005020501,1.046445,26.333142,71.530963,0.788417,0.000000,0.301032

## Dataframe for income

In [16]:
inc_col = ['Median_Income','County', 'Tract']


inc_d = pd.DataFrame()
inc_df = pd.concat([inc_d, (pd.DataFrame(data=income[0], columns=inc_col)),
                     (pd.DataFrame(data=income[1], columns=inc_col)),
                     (pd.DataFrame(data=income[2], columns=inc_col)),
                     (pd.DataFrame(data=income[3], columns=inc_col))]).reset_index(drop=True)

inc_df.head(2)

   Median_Income County        Tract
0          40184  36005  36005020000
1          17601  36005  36005020501

## Dataframe for education attainment

The data here is for people above 18 and hold a high school diploma or above. We will look at two types of education attainment: $\frac{Bachelor's\: or\: higher}{Population\: 18 \:and \:above}$, and $\frac{High\: School \: or\: higher}{Population\: 18 \:and \:above}$

In [17]:
edu_col = ['Edu_Tot', 
'18m_hs', '18m_some_c', '18m_ass', '18m_bac', '18m_grad',
'25m_hs', '25m_some_c', '25m_ass', '25m_bac', '25m_grad',
'35m_hs', '35m_some_c', '35m_ass', '35m_bac', '35m_grad',
'45m_hs', '45m_some_c', '45m_ass', '45m_bac', '45m_grad',
'65m_hs', '65m_some_c', '65m_ass', '65m_bac', '65m_grad',
'18f_hs', '18f_some_c', '18f_ass', '18f_bac', '18f_grad',
'25f_hs', '25f_some_c', '25f_ass', '25f_bac', '25f_grad',
'35f_hs', '35f_some_c', '35f_ass', '35f_bac', '35f_grad',
'45f_hs', '45f_some_c', '45f_ass', '45f_bac', '45f_grad',
'65f_hs', '65f_some_c', '65f_ass', '65f_bac', '65f_grad',
'County', 'Tract']

edu_d = pd.DataFrame()
edu_df = pd.concat([edu_d, (pd.DataFrame(data=edu[0], columns=edu_col)),
                     (pd.DataFrame(data=edu[1], columns=edu_col)),
                     (pd.DataFrame(data=edu[2], columns=edu_col)),
                     (pd.DataFrame(data=edu[3], columns=edu_col))]).reset_index(drop=True)

#% of adults with high school degree or above
edu_df['%Edu_hs'] = (((edu_df.iloc[:, 1:-2]).sum(axis=1))/edu_df['Edu_Tot'])*100
#of adults with bachelors or above
edu_df['%Edu_bac'] = (edu_df.iloc[:, [4,5,9,10,14,15,19,20,24,25,
                                      29,30,34,35,39,40,44,45,49,50]].sum(axis=1)/edu_df['Edu_Tot'])*100
edu_df = edu_df.iloc[:,[0, 51,52,53,54]]

edu_df.head(2)

   Edu_Tot County        Tract    %Edu_hs   %Edu_bac
0     3310  36005  36005020000  71.873112  23.685801
1     5313  36005  36005020501  71.052136   9.655562

##Combine the three dataframes

In [18]:
merge1 = race_df.merge(inc_df,how='inner',on='Tract')
merge1 = merge1.iloc[:, :-1]
merge1.head(2)

,Race_Total,County_x,Tract,%White,%Black,%Hispanic_Latino,%Asian,%Other,%Mixed,Median_Income
0,4711,36005,36005020000,2.759499,9.382297,61.197198,23.392061,2.080238,1.188707,40184
1,6976,36005,36005020501,1.046445,26.333142,71.530963,0.788417,0.000000,0.301032,17601

In [19]:
df_combined = merge1.merge(edu_df,how='inner',on='Tract')
df_combined = df_combined[['Tract', 'Race_Total', 'Edu_Tot', 
                           '%White', '%Black',
                           '%Hispanic_Latino',"%Asian",
                           '%Other', '%Mixed', 'Median_Income', 
                           '%Edu_hs', '%Edu_bac']]
df_combined = df_combined.rename({'Race_Total':'Pop_Tot', 'Edu_Tot':'Pop_18'}, axis=1)
df_combined

,Tract,Pop_Tot,Pop_18,%White,%Black,%Hispanic_Latino,%Asian,%Other,%Mixed,Median_Income,%Edu_hs,%Edu_bac
0,36005020000,4711,3310,2.759499,9.382297,61.197198,23.392061,2.080238,1.188707,40184,71.873112,23.685801
1,36005020501,6976,5313,1.046445,26.333142,71.530963,0.788417,0.000000,0.301032,17601,71.052136,9.655562
2,36005020502,2160,1737,1.666667,26.435185,71.481481,0.138889,0.000000,0.277778,18919,64.824410,17.962003
3,36005020900,4287,3297,3.825519,37.602053,57.872638,0.256590,0.209937,0.233263,31190,74.309979,14.922657
4,36005021001,8930,7185,2.183651,50.470325,36.125420,8.801792,1.209406,1.209406,54076,85.901183,24.982603
...,...,...,...,...,...,...,...,...,...,...,...,...
2052,36061021800,6236,5023,20.525978,58.611289,18.136626,1.860167,0.545221,0.320718,49482,81.206450,40.772447
2053,36061028300,7949,6726,19.335766,5.535287,68.964650,4.981759,0.314505,0.868034,56855,80.255724,34.269997
2054,36061029100,12165,9582,6.321414,5.318537,82.836005,4.069051,0.139745,1.315249,47054,70.632436,22.239616
2055,36061029500,8182,7073,34.808115,2.994378,56.318748,3.312149,0.378880,2.187729,73514,77.095999,47.518733
2056,36061000900,1796,1532,63.697105,4.342984,9.242762,18.262806,0.946548,3.507795,206750,99.869452,88.838120

In [20]:
df_combined.to_csv('demog_tract_level.csv',index=False)

#Create centroid in tract shapefile and join to the df above

In [21]:
# Install Geopandas
!pip install geopandas
!pip install fiona
!pip install gdal
# Install rtree - Geopandas requirment
!pip install rtree 
# Install descartes - Geopandas requirment
!pip install descartes 
# Install plotlyExpress
!pip install plotly_express
# Install shapely for geometry
!pip install shapely

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
      1.1/1.1 MB 27.6 MB/s eta 0:00:00
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.5.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
      7.8/7.8 MB 85.1 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from geopandas) (23.0)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from geopandas) (1.4.4)
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.9/dist-packages (from geopandas) (2.0.1)
Collecting fiona>=1.8
  Downloading Fiona-1.9.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
      16.1/16.1 MB 63.7 MB/s eta 0:00:00
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (8.1.3)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (2022.12.7)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (22.2.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (6.1.0)
Collecting munch>=2.3.2
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata->fiona>=1.8->geopandas) (3.15.0)
Installing collected packages: pyproj, munch, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.2 geopandas-0.12.2 munch-2.5.0 pyproj-3.5.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fiona in /usr/local/lib/python3.9/dist-packages (1.9.2)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.9/dist-packages (from fiona) (1.1.1)
Requirement already satisfied: munch>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from fiona) (2.5.0)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.9/dist-packages (from fiona) (22.2.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from fiona) (2022.12.7)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.9/dist-packages (from fiona) (0.7.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.9/dist-packages (from fiona) (6.1.0)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.9/dist-packages (from fiona) (8.1.3)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from munch>=2.3.2->fiona) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata->fiona) (3.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdal in /usr/local/lib/python3.9/dist-packages (3.3.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting rtree
  Downloading Rtree-1.0.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
      1.0/1.0 MB 35.3 MB/s eta 0:00:00
Installing collected packages: rtree
Successfully installed rtree-1.0.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting descartes
  Downloading descartes-1.1.0-py3-none-any.whl (5.8 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from descartes) (3.7.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (4.39.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (23.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (2.8.2)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (3.0.9)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (1.22.4)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (5.12.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (8.4.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->descartes) (1.0.7)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib->descartes) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib->descartes) (1.16.0)
Installing collected packages: descartes
Successfully installed descartes-1.1.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting plotly_express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.9/dist-packages (from plotly_express) (1.22.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from plotly_express) (0.13.5)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from plotly_express) (1.4.4)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.9/dist-packages (from plotly_express) (0.5.3)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.9/dist-packages (from plotly_express) (5.13.1)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.9/dist-packages (from plotly_express) (1.10.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.20.0->plotly_express) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5->plotly_express) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from plotly>=4.1.0->plotly_express) (8.2.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->plotly_express) (23.0)
Installing collected packages: plotly_express
Successfully installed plotly_express-0.4.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: shapely in /usr/local/lib/python3.9/dist-packages (2.0.1)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.9/dist-packages (from shapely) (1.22.4)

In [22]:
import geopandas as gpd

In [23]:
nys_tract = gpd.read_file('/content/tl_2019_36_tract.shp').set_crs(4326, allow_override=True)
nys_tract.shape

(4918, 13)

In [24]:
nys_tract.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

Use internal point in the census tract shapefile:
*Internal pointThe Census Bureau calculates an internal point (latitude and longitude coordinates) for each geographic area. For many geographic areas, the internal point is the centroid, the geographic center of the entity. For some irregularly shaped areas (such as those shaped like a crescent), the centroid may be located outside the boundaries of the entity. In such instances, the internal point is identified as a point inside the entity boundaries nearest to the centroid and, if possible, a point that is on land area, not water.*

In [25]:
nys_tract.head(2)

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,36,081,044800,36081044800,448,Census Tract 448,G5020,S,208002,0,+40.7110219,-073.8026344,"POLYGON ((-73.80646 40.71206, -73.80556 40.712..."
1,36,081,045800,36081045800,458,Census Tract 458,G5020,S,245281,0,+40.7152626,-073.7909261,"POLYGON ((-73.79364 40.71382, -73.79362 40.713..."

In [26]:
nys_tract = nys_tract.iloc[:, [3, 10, 11, 12]]
nys_tract.head(5)

,GEOID,INTPTLAT,INTPTLON,geometry
0,36081044800,+40.7110219,-073.8026344,"POLYGON ((-73.80646 40.71206, -73.80556 40.712..."
1,36081045800,+40.7152626,-073.7909261,"POLYGON ((-73.79364 40.71382, -73.79362 40.713..."
2,36081046200,+40.7098547,-073.7879749,"POLYGON ((-73.79203 40.71107, -73.79101 40.711..."
3,36081046300,+40.7440007,-073.8710900,"POLYGON ((-73.87468 40.74335, -73.87423 40.743..."
4,36081046400,+40.7168637,-073.7869958,"POLYGON ((-73.79187 40.71379, -73.79085 40.714..."

In [27]:
tract_df = pd.DataFrame(nys_tract)
tract_df.head(5)

,GEOID,INTPTLAT,INTPTLON,geometry
0,36081044800,+40.7110219,-073.8026344,"POLYGON ((-73.80646 40.71206, -73.80556 40.712..."
1,36081045800,+40.7152626,-073.7909261,"POLYGON ((-73.79364 40.71382, -73.79362 40.713..."
2,36081046200,+40.7098547,-073.7879749,"POLYGON ((-73.79203 40.71107, -73.79101 40.711..."
3,36081046300,+40.7440007,-073.8710900,"POLYGON ((-73.87468 40.74335, -73.87423 40.743..."
4,36081046400,+40.7168637,-073.7869958,"POLYGON ((-73.79187 40.71379, -73.79085 40.714..."

In [28]:
#merge with the census df from before
tract_merged = df_combined.merge(tract_df,how='inner',left_on='Tract', right_on='GEOID')\
                          .drop(columns=['GEOID'])
tract_merged.head(2)

,Tract,Pop_Tot,Pop_18,%White,%Black,%Hispanic_Latino,%Asian,%Other,%Mixed,Median_Income,%Edu_hs,%Edu_bac,INTPTLAT,INTPTLON,geometry
0,36005020000,4711,3310,2.759499,9.382297,61.197198,23.392061,2.080238,1.188707,40184,71.873112,23.685801,+40.8428349,-073.8455162,"POLYGON ((-73.84999 40.84285, -73.84939 40.842..."
1,36005020501,6976,5313,1.046445,26.333142,71.530963,0.788417,0.000000,0.301032,17601,71.052136,9.655562,+40.8474409,-073.9236597,"POLYGON ((-73.92815 40.84551, -73.92811 40.845..."

In [29]:
#create geodataframe to save as shapefile
tract_merged_gdf = gpd.GeoDataFrame(tract_merged, geometry='geometry')
tract_merged_gdf.head(2)

,Tract,Pop_Tot,Pop_18,%White,%Black,%Hispanic_Latino,%Asian,%Other,%Mixed,Median_Income,%Edu_hs,%Edu_bac,INTPTLAT,INTPTLON,geometry
0,36005020000,4711,3310,2.759499,9.382297,61.197198,23.392061,2.080238,1.188707,40184,71.873112,23.685801,+40.8428349,-073.8455162,"POLYGON ((-73.84999 40.84285, -73.84939 40.842..."
1,36005020501,6976,5313,1.046445,26.333142,71.530963,0.788417,0.000000,0.301032,17601,71.052136,9.655562,+40.8474409,-073.9236597,"POLYGON ((-73.92815 40.84551, -73.92811 40.845..."

In [30]:
tract_merged_gdf.to_file('tract_with_info.shp')

<ipython-input-30-3fa75e98851d>:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  tract_merged_gdf.to_file('tract_with_info.shp')
WARNING:fiona._env:Normalized/laundered field name: '%Hispanic_Latino' to '%Hispanic_'
WARNING:fiona._env:Normalized/laundered field name: 'Median_Income' to 'Median_Inc'

In [31]:
tract_merged.shape

(2057, 15)

In [33]:
tract_points = tract_merged.iloc[:,[0,12,13]]
tract_points.to_csv('tract_points.csv', index=False)