In [2]:
#import packages
import pandas as pd
import geopandas as gpd
import requests
from shapely.geometry import shape, Point
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import urllib.request, json
import requests
import urllib.parse
import datetime

import warnings
warnings.filterwarnings('ignore')

In [13]:
access = pd.read_csv('../Data/tracts_subway_bus_access.csv', index_col = 0)
access.head()

,ctlabel,boro_code,boro_name,ct2010,boro_ct2010,cdeligibil,ntacode,ntaname,puma,shape_leng,shape_area,geometry,geoid,Bus_Access,Subway_Access,Bus_Count,Subway_Count
0,98.0,1,Manhattan,9800,1009800,I,MN19,Turtle Bay-East Midtown,3808,5534.200308,1.906016e+06,MULTIPOLYGON (((-73.96432543478758 40.75638153...,36061009800,1,1,22,3
1,102.0,1,Manhattan,10200,1010200,I,MN17,Midtown-Midtown South,3807,5687.802439,1.860993e+06,MULTIPOLYGON (((-73.97124277307127 40.76093641...,36061010200,1,1,25,8
2,104.0,1,Manhattan,10400,1010400,I,MN17,Midtown-Midtown South,3807,5693.036367,1.864600e+06,MULTIPOLYGON (((-73.97445730550224 40.76229308...,36061010400,1,1,21,9
3,113.0,1,Manhattan,11300,1011300,I,MN17,Midtown-Midtown South,3807,5699.860640,1.890907e+06,MULTIPOLYGON (((-73.98411754823195 40.75484205...,36061011300,1,1,21,14
4,130.0,1,Manhattan,13000,1013000,I,MN40,Upper East Side-Carnegie Hill,3805,5807.972956,1.918145e+06,MULTIPOLYGON (((-73.96147581181627 40.77432401...,36061013000,1,1,12,2

In [14]:
len(access)

2055

In [15]:
len((access[(access['Subway_Access'] == 1)|(access['Bus_Access'] == 1)]))

2041