In [184]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.wkt import loads
import statsmodels.api as sm
import seaborn as sns
from sklearn.linear_model import LinearRegression

import warnings
warnings.filterwarnings('ignore')

In [211]:
tracts_demo_v2 = gpd.read_file('../Data/tract_with_info_v2.shp')
tracts_demo_v2.set_index('Tract',inplace=True)
tracts_demo_v2[['Median_Inc']]

             Median_Inc
Tract
36005020000       40184
36005020501       17601
36005020502       18919
36005020900       31190
36005021001       54076
...                 ...
36061021800       49482
36061028300       56855
36061029100       47054
36061029500       73514
36061000900      206750

[2055 rows x 1 columns]

In [212]:
tracts_demo = gpd.read_file('../Data/tract_with_info_v3.shp')
tracts_demo.set_index('Tract',inplace=True)
tracts_demo.head()

,Pop_Tot,Pop_18,%White,%Black,%Hispanic_,%Asian,%Other,%Mixed,%Edu_hs,%Edu_bac,...,J_B_2,J_B_3,HH_Inc,Inc_24,Inc_25_44,Inc_45_64,Inc_65,Center_Lat,Center_Lon,geometry
Tract,,,,,,,,,,,,,,,,,,,,,
36005020000,4711,3310,2.759499,9.382297,61.197198,23.392061,2.080238,1.188707,71.873112,23.685801,...,175,334,40184,-666666666,30994,52321,-666666666,40.842834,-73.845514,"POLYGON ((-73.84494 40.84822, -73.84489 40.847..."
36005020501,6976,5313,1.046445,26.333142,71.530963,0.788417,0.000000,0.301032,71.052136,9.655562,...,225,146,17601,-666666666,25417,19432,11473,40.847470,-73.923692,"POLYGON ((-73.92213 40.85048, -73.92168 40.850..."
36005020502,2160,1737,1.666667,26.435185,71.481481,0.138889,0.000000,0.277778,64.824410,17.962003,...,23,110,18919,5859,29844,26875,12147,40.851390,-73.919450,"POLYGON ((-73.91825 40.85303, -73.91797 40.852..."
36005020900,4287,3297,3.825519,37.602053,57.872638,0.256590,0.209937,0.233263,74.309979,14.922657,...,79,209,31190,-666666666,41528,25230,17463,40.843070,-73.915030,"POLYGON ((-73.91192 40.84326, -73.91195 40.843..."
36005021001,8930,7185,2.183651,50.470325,36.125420,8.801792,1.209406,1.209406,85.901183,24.982603,...,320,491,54076,-666666666,73298,53986,38449,40.840801,-73.858289,"POLYGON ((-73.85304 40.84074, -73.85314 40.840..."

In [215]:
tracts_demo.join(tracts_demo_v2[['Median_Inc']])

,Pop_Tot,Pop_18,%White,%Black,%Hispanic_,%Asian,%Other,%Mixed,%Edu_hs,%Edu_bac,...,J_B_3,HH_Inc,Inc_24,Inc_25_44,Inc_45_64,Inc_65,Center_Lat,Center_Lon,geometry,Median_Inc
Tract,,,,,,,,,,,,,,,,,,,,,
36005020000,4711,3310,2.759499,9.382297,61.197198,23.392061,2.080238,1.188707,71.873112,23.685801,...,334,40184,-666666666,30994,52321,-666666666,40.842834,-73.845514,"POLYGON ((-73.84494 40.84822, -73.84489 40.847...",NaN
36005020501,6976,5313,1.046445,26.333142,71.530963,0.788417,0.000000,0.301032,71.052136,9.655562,...,146,17601,-666666666,25417,19432,11473,40.847470,-73.923692,"POLYGON ((-73.92213 40.85048, -73.92168 40.850...",NaN
36005020502,2160,1737,1.666667,26.435185,71.481481,0.138889,0.000000,0.277778,64.824410,17.962003,...,110,18919,5859,29844,26875,12147,40.851390,-73.919450,"POLYGON ((-73.91825 40.85303, -73.91797 40.852...",NaN
36005020900,4287,3297,3.825519,37.602053,57.872638,0.256590,0.209937,0.233263,74.309979,14.922657,...,209,31190,-666666666,41528,25230,17463,40.843070,-73.915030,"POLYGON ((-73.91192 40.84326, -73.91195 40.843...",NaN
36005021001,8930,7185,2.183651,50.470325,36.125420,8.801792,1.209406,1.209406,85.901183,24.982603,...,491,54076,-666666666,73298,53986,38449,40.840801,-73.858289,"POLYGON ((-73.85304 40.84074, -73.85314 40.840...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36061021800,6236,5023,20.525978,58.611289,18.136626,1.860167,0.545221,0.320718,81.206450,40.772447,...,382,49482,30481,86395,61827,12444,40.803222,-73.952525,"POLYGON ((-73.94873 40.80333, -73.94919 40.802...",NaN
36061028300,7949,6726,19.335766,5.535287,68.964650,4.981759,0.314505,0.868034,80.255724,34.269997,...,363,56855,86172,72500,62921,30968,40.858903,-73.928732,"POLYGON ((-73.92712 40.85811, -73.92727 40.857...",NaN
36061029100,12165,9582,6.321414,5.318537,82.836005,4.069051,0.139745,1.315249,70.632436,22.239616,...,491,47054,-666666666,63900,48407,19306,40.864311,-73.923934,"POLYGON ((-73.92061 40.86311, -73.92207 40.862...",NaN
36061029500,8182,7073,34.808115,2.994378,56.318748,3.312149,0.378880,2.187729,77.095999,47.518733,...,339,73514,40972,76223,84408,17412,40.867523,-73.924941,"POLYGON ((-73.92214 40.86915, -73.92173 40.868...",NaN
36061000900,1796,1532,63.697105,4.342984,9.242762,18.262806,0.946548,3.507795,99.869452,88.838120,...,12,206750,58438,237250,196250,213438,40.702260,-74.009822,"MULTIPOLYGON (((-74.00078 40.69429, -74.00096 ...",NaN

In [198]:
tracts_demo.describe()

,Pop_Tot,Pop_18,%White,%Black,%Hispanic_,%Asian,%Other,%Mixed,%Edu_hs,%Edu_bac,...,J_B_2,J_B_3,HH_Inc,Inc_24,Inc_25_44,Inc_45_64,Inc_65,Center_Lat,Center_Lon,Median_Inc
count,2055.000000,2055.000000,2016.000000,2016.000000,2016.000000,2016.000000,2016.000000,2016.000000,2016.000000,2016.000000,...,2055.000000,2055.000000,2.055000e+03,2.055000e+03,2.055000e+03,2.055000e+03,2.055000e+03,2055.000000,2055.000000,0.0
mean,3865.899270,3062.829197,30.809432,23.824717,27.504339,14.590556,1.255685,2.015272,82.430017,34.372483,...,110.487105,171.545985,-2.134296e+07,-5.352678e+08,-4.793648e+07,-4.631686e+07,-1.105850e+08,40.722808,-73.904015,NaN
std,2248.984208,1853.248725,28.642716,28.726896,22.708256,17.257360,3.048066,2.088858,10.847806,20.756885,...,102.651293,142.898598,1.175812e+08,2.652845e+08,1.724100e+08,1.696940e+08,2.480939e+08,0.080665,0.072155,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,0.000000,...,0.000000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,40.556103,-74.042338,NaN
25%,2332.500000,1813.000000,3.869601,1.801321,9.747913,2.302249,0.000000,0.483275,75.240322,19.332267,...,42.000000,73.000000,4.502450e+04,-6.666667e+08,4.707300e+04,4.533400e+04,1.657700e+04,40.663876,-73.958656,NaN
50%,3522.000000,2762.000000,20.829491,8.637677,18.927328,7.229804,0.303520,1.486221,84.209771,28.783611,...,86.000000,137.000000,6.416700e+04,-6.666667e+08,7.069000e+04,6.968800e+04,3.567000e+04,40.712552,-73.914586,NaN
75%,4898.000000,3854.500000,55.585249,40.118290,41.535953,21.221069,1.145257,2.860177,90.566492,44.516510,...,150.000000,233.000000,8.519500e+04,-6.666667e+08,9.964050e+04,9.524600e+04,5.733700e+04,40.774374,-73.857820,NaN
max,28109.000000,24166.000000,100.000000,100.000000,92.430905,91.605249,31.090573,20.276498,100.000000,100.000000,...,1147.000000,1355.000000,2.500010e+05,2.500010e+05,2.500010e+05,2.500010e+05,2.490100e+05,40.912950,-73.704582,NaN

In [190]:
tracts_demo.columns

Index(['Pop_Tot', 'Pop_18', '%White', '%Black', '%Hispanic_', '%Asian',
       '%Other', '%Mixed', '%Edu_hs', '%Edu_bac', 'J_Tot', 'J_W_1', 'J_B_1',
       'J_W_2', 'J_B_2', 'J_B_3', 'HH_Inc', 'Inc_24', 'Inc_25_44', 'Inc_45_64',
       'Inc_65', 'Center_Lat', 'Center_Lon', 'geometry', '%NonWhite'],
      dtype='object')

In [187]:
tracts_demo['%NonWhite'] = tracts_demo[['%Black', '%Hispanic_', '%Asian',
       '%Other', '%Mixed']].sum(axis = 1)

In [188]:
tracts_demo.columns

Index(['Pop_Tot', 'Pop_18', '%White', '%Black', '%Hispanic_', '%Asian',
       '%Other', '%Mixed', '%Edu_hs', '%Edu_bac', 'J_Tot', 'J_W_1', 'J_B_1',
       'J_W_2', 'J_B_2', 'J_B_3', 'HH_Inc', 'Inc_24', 'Inc_25_44', 'Inc_45_64',
       'Inc_65', 'Center_Lat', 'Center_Lon', 'geometry', '%NonWhite'],
      dtype='object')

In [189]:
tracts_demo = tracts_demo[['Pop_Tot', 'Pop_18', '%White', '%NonWhite','%Black', '%Hispanic_', '%Asian',
       '%Other', '%Mixed', 'Median_Inc', '%Edu_hs', '%Edu_bac']]
tracts_demo.head()

KeyError: "['Median_Inc'] not in index"

In [ ]:
len(tracts_demo)

In [ ]:
tracts_gdf = gpd.read_file('../Data/2010_Census_Tracts/2010_Census_Tracts.shp')
tracts_gdf.plot()

In [ ]:
len(tracts_gdf)

In [ ]:
tracts_gdf.head()

In [ ]:
transit_access=pd.read_csv('../Data/weighted_tt.csv', index_col=1)
transit_access = transit_access.iloc[:, 1:]
transit_access.head()

In [ ]:
len(transit_access)

In [ ]:
#merge
tract_info = transit_access.join(tracts_demo,how = 'left')
tract_info.head()

In [ ]:
len(tract_info)

In [ ]:
perc_ls = ['%White', '%Black', '%Hispanic_', '%Asian','%Other', '%Mixed', '%Edu_hs', '%Edu_bac']
for perc_item in perc_ls:
    col_str = perc_item[1:]
    tract_info[col_str+'Tot'] = tract_info['Pop_Tot']*tract_info[perc_item]/100
    tract_info[col_str+'Above18'] = tract_info['Pop_18']*tract_info[perc_item]/100

In [ ]:
tract_info.columns

In [ ]:
tract_info.describe()#head()

In [ ]:
type(tract_info)

In [ ]:
tract_info['geometry'] = tract_info['geometry'].astype(str).apply(loads)
tract_info = gpd.GeoDataFrame(tract_info,geometry = 'geometry').set_crs('epsg:4326')

In [ ]:
tract_info.columns

In [ ]:
tract_info['w_tt'] = tract_info['w_tt'].replace(0, np.nan)

In [ ]:
tract_info.plot(column = 'w_tt',figsize = (10,8), k=10, scheme='Quantiles', legend=True, 
              missing_kwds={"color": "lightgrey", "edgecolor": "red", "hatch": "///", "label": "Zero values"},
              legend_kwds={'bbox_to_anchor': (1.05, 1), 'loc': 'upper left'})
plt.title('Weighted Commute Time')
plt.show()

In [ ]:
tract_info.plot(column = 'min_tt',figsize = (10,8), k=10, scheme='Quantiles', legend=True, 
              missing_kwds={"color": "lightgrey", "edgecolor": "red", "hatch": "///", "label": "Zero values"},
              legend_kwds={'bbox_to_anchor': (1.05, 1), 'loc': 'upper left'})
plt.title('Minimum Commute Time')
plt.show()

In [ ]:
tract_info.plot(column = 'mean_tt',figsize = (10,8), k=10, scheme='Quantiles', legend=True, 
              missing_kwds={"color": "lightgrey", "edgecolor": "red", "hatch": "///", "label": "Zero values"},
              legend_kwds={'bbox_to_anchor': (1.05, 1), 'loc': 'upper left'})
plt.title('Mean Commute Time')
plt.show()

In [ ]:
tract_info[tract_info['Median_Inc']==-666666666].plot()

In [ ]:
tract_info.plot(column = 'Median_Inc',figsize = (10,8), k=10, scheme='Quantiles', legend=True, 
              #missing_kwds={"color": "lightgrey", "edgecolor": "red", "hatch": "///", "label": "Zero values"},
              legend_kwds={'bbox_to_anchor': (1.05, 1), 'loc': 'upper left'})
plt.title('Mean Commute Time')
plt.show()

# Look at Commute time distribution by Income Brackets for census tracts

In [ ]:
#introduce a custom function performing distribution analysis
def distribution_analysis(x, log_scale = False, fit_distribution = 'None', bins = 50, vis_means = True, vis_curve = True, print_outputs = True):
    #x - array of observations
    #log_scale - analyze distribution of log(x) if True
    #fit_distribution - fit the distribution ('normal', 'gev' or 'pareto') or do nothing if 'None'
    #bins - how many bins to use for binning the data
    #vis_means - show mean and std lines if True
    #vis_curve - show interpolated distribution curve over the histogram bars if True
    #print_outputs - print mean, std and percentiles
    
    if log_scale: 
        x1 = np.log10(x) #convert data to decimal logarithms
        xlabel = 'log(values)' #reflect in x labels
    else:
        x1 = x #leave original scale 
        xlabel = 'values'
    mu = x1.mean() #compute the mean
    if log_scale: #if logscale, output all three - log mean, its original scale and original scale mean
        print('Log mean = {:.2f}({:.2f}), mean = {:.2f}'.format(mu,10**mu,x.mean()))
    else:
        print('Mean = {:.2f}'.format(mu)) #otherwise print mean
    sigma = x1.std() #compute and output standard deviation 
    print('Standard deviation = {:.2f}'.format(sigma))
    for p in [1,5,25,50,75,95,99]: #output percentile values
        print('{:d} percentile = {:.2f}'.format(p,np.percentile(x,p)))
        
    #visualize histogram and the interpolated line (if vis_curve=True) using seaborn
    sns.distplot(x1, hist=True, kde=vis_curve, 
        bins=bins,color = 'darkblue', 
        hist_kws={'edgecolor':'black'},
        kde_kws={'linewidth': 4})
    
    #show vertical lines for mean and std if vis_means = True
    if vis_means:
        plt.axvline(mu, color='r', ls='--', lw=2.0)
        plt.axvline(mu-sigma, color='g', ls='--', lw=2.0)
        plt.axvline(mu+sigma, color='g', ls='--', lw=2.0)
        
    ylim = plt.gca().get_ylim() #keep the y-range of original distribution density values 
    #(to make sure the fitted distribution would not affect it)
    
    h = np.arange(mu - 3 * sigma, mu + 3 * sigma, sigma / 100) #3-sigma visualization range for the fitted distribution
    pars = None #fitted distribution parameters
    
    #fit and visualize the theoretic distribution
    if fit_distribution == 'normal':
        pars = norm.fit(x1)
        plt.plot(h,norm.pdf(h,*pars),'r')
    elif fit_distribution == 'gev':
        pars = gev.fit(x1)
        plt.plot(h,gev.pdf(h,*pars),'r')
    elif fit_distribution == 'pareto':
        pars = pareto.fit(x1)
        plt.plot(h,pareto.pdf(h,*pars),'r')
    
    plt.xlabel(xlabel) #add x label 
    plt.ylim(ylim) #restore the y-range of original distribution density values 
    plt.show()
    return pars

#check if the distribution is normal using one-sample KS test and sample mean-std
def is_normal(x):
        return stats.kstest(x,'norm',args=(x.mean(),x.std()))

In [ ]:
tract_info[['Median_Inc']].describe()

In [ ]:
tract_info.loc[tract_info['Median_Inc']<0]=np.nan
tract_info.drop(index=tract_info[tract_info.w_tt.isna()].index,inplace=True)

In [ ]:
tract_info.plot(column = 'Median_Inc',figsize = (10,8), k=4, scheme='Quantiles', legend=True, 
              #missing_kwds={"color": "lightgrey", "edgecolor": "red", "hatch": "///", "label": "Zero values"},
              legend_kwds={'bbox_to_anchor': (1.05, 1), 'loc': 'upper left'})
plt.title('Median Income')
plt.show()

In [ ]:
tract_info['Median_q1']=((tract_info['Median_Inc']<np.quantile(tract_info['Median_Inc'],q=0.25))&(tract_info['Median_Inc']>=0))*1
tract_info['Median_q4']=(tract_info['Median_Inc']>=np.quantile(tract_info['Median_Inc'],q=0.75))*1
tract_info['Median_q2']=((tract_info['Median_Inc']>=np.quantile(tract_info['Median_Inc'],q=0.25))&(tract_info['Median_Inc']<np.quantile(tract_info['Median_Inc'],q=0.5)))*1
tract_info['Median_q3']=((tract_info['Median_Inc']>=np.quantile(tract_info['Median_Inc'],q=0.5))&(tract_info['Median_Inc']<np.quantile(tract_info['Median_Inc'],q=0.75)))*1

In [ ]:
income_q1_df = tract_info[tract_info['Median_q1']==1]
income_q2_df = tract_info[tract_info['Median_q2']==1]
income_q3_df = tract_info[tract_info['Median_q3']==1]
income_q4_df = tract_info[tract_info['Median_q4']==1]

print(len(income_q1_df ),len(income_q2_df ),len(income_q3_df ),len(income_q4_df ))

In [ ]:
distribution_analysis(income_q1_df['w_tt'])

In [ ]:
distribution_analysis(income_q2_df['w_tt'])

In [ ]:
distribution_analysis(income_q3_df['w_tt'])

In [ ]:
distribution_analysis(income_q4_df['w_tt'])

In [ ]:
distribution_analysis(income_q4_df[income_q4_df['boro_name']=='Brooklyn']['min_tt'])

In [ ]:
income_q4_df['boro_name'].unique()

In [ ]:
### t-tests the means

In [ ]:
from scipy import stats

stats.ttest_ind(white_df['min_tt'],nonwhite_df['min_tt'])

In [ ]:
stats.ttest_ind(white_df['mean_tt'],nonwhite_df['mean_tt'])

In [ ]:
stats.ttest_ind(white_df['w_tt'],nonwhite_df['w_tt'])

In [ ]:
### k-s test for distribution
stats.ks_2samp(white_df['min_tt'],nonwhite_df['min_tt'])

In [ ]:
stats.ks_2samp(white_df['mean_tt'],nonwhite_df['mean_tt'])

In [ ]:
stats.ks_2samp(white_df['w_tt'],nonwhite_df['w_tt'])

# Multivariate Regression
* Inputs: Income, race, age, job type

In [ ]:
# Conduct linear regression
X = np.asarray(np.log(tract_info['Median_Inc'])).reshape(-1, 1)
y = np.asarray(np.log(tract_info['w_tt'])).reshape(-1, 1)
regressor = LinearRegression()
regressor.fit(X, y)
y_pred = regressor.predict(X)
coef = regressor.coef_[0][0]
intc = regressor.intercept_[0]
e_intc = np.exp(intc)
r_squared = regressor.score(X, y)

# Create scatter plot and legend
fig, ax = plt.subplots(figsize=(10, 8))
ax.plot(X, y,'o', color='blue')
ax.plot(X, y_pred, color='red')
ax.set_xlabel('Log(Median Income)')
ax.set_ylabel('Log(Weighted Commute Time)')
# ax.set_title('Population vs. Mean Commute Time Linear Regression')
plt.show()

In [ ]:
r_squared

In [ ]:
import statsmodels.api as sm
X = np.asarray(np.log(tract_info['Median_Inc'])).reshape(-1, 1)
y = np.asarray(np.log(tract_info['w_tt'])).reshape(-1, 1)
X = sm.add_constant(X)


# Create the linear regression model
model = sm.OLS(y, X)

# Fit the model and print the results
results = model.fit()
print(results.summary())