In [1]:
import requests
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.wkt import loads

In [20]:
api_key='AIzaSyAzpH2IgDz-PfQMTg3kMFd9eqMgYOCX4oA'

In [2]:
CT_0=pd.read_csv('../Data/tracts_subway_bus_access.csv',index_col=0)
CT_0.set_index('geoid',inplace=True)
CT_0['geometry'] = CT_0['geometry'].apply(loads)

# Convert the pandas DataFrame to a GeoDataFrame
CT_0 = gpd.GeoDataFrame(CT_0, geometry='geometry').set_crs(4326)
#filter this based on what subway access and bus count 
CT_0.head(n=5)

,ctlabel,boro_code,boro_name,ct2010,boro_ct2010,cdeligibil,ntacode,ntaname,puma,shape_leng,shape_area,geometry,Bus_Access,Subway_Access,Bus_Count,Subway_Count
geoid,,,,,,,,,,,,,,,,
36061009800,98.0,1,Manhattan,9800,1009800,I,MN19,Turtle Bay-East Midtown,3808,5534.200308,1.906016e+06,"MULTIPOLYGON (((-73.96433 40.75638, -73.96479 ...",1,1,22,3
36061010200,102.0,1,Manhattan,10200,1010200,I,MN17,Midtown-Midtown South,3807,5687.802439,1.860993e+06,"MULTIPOLYGON (((-73.97124 40.76094, -73.97170 ...",1,1,25,8
36061010400,104.0,1,Manhattan,10400,1010400,I,MN17,Midtown-Midtown South,3807,5693.036367,1.864600e+06,"MULTIPOLYGON (((-73.97446 40.76229, -73.97491 ...",1,1,21,9
36061011300,113.0,1,Manhattan,11300,1011300,I,MN17,Midtown-Midtown South,3807,5699.860640,1.890907e+06,"MULTIPOLYGON (((-73.98412 40.75484, -73.98460 ...",1,1,21,14
36061013000,130.0,1,Manhattan,13000,1013000,I,MN40,Upper East Side-Carnegie Hill,3805,5807.972956,1.918145e+06,"MULTIPOLYGON (((-73.96148 40.77432, -73.96194 ...",1,1,12,2

In [3]:
print(len(CT_0))

2055

In [4]:
CT_0=CT_0[(CT_0['Subway_Access']==1)|(CT_0['Bus_Access']==1)]#remove census tracts with no public transit access

In [5]:
print(len(CT_0))

2041

In [6]:
CT_0['centroid'] = CT_0.to_crs('+proj=cea').centroid.to_crs(4326)
CT_0['Center_Lat'] = CT_0['centroid'].y
CT_0['Center_Lon'] = CT_0['centroid'].x
CT_0 = CT_0.drop(columns = 'centroid')
CT_0 = CT_0.to_crs(32118)
CT_0['area_km2'] = CT_0.geometry.area / 1e6
CT_0 = CT_0.to_crs(4326)
CT_0.head()

,ctlabel,boro_code,boro_name,ct2010,boro_ct2010,cdeligibil,ntacode,ntaname,puma,shape_leng,shape_area,geometry,Bus_Access,Subway_Access,Bus_Count,Subway_Count,Center_Lat,Center_Lon,area_km2
geoid,,,,,,,,,,,,,,,,,,,
36061009800,98.0,1,Manhattan,9800,1009800,I,MN19,Turtle Bay-East Midtown,3808,5534.200308,1.906016e+06,"MULTIPOLYGON (((-73.96433 40.75638, -73.96479 ...",1,1,22,3,40.755788,-73.967775,0.177075
36061010200,102.0,1,Manhattan,10200,1010200,I,MN17,Midtown-Midtown South,3807,5687.802439,1.860993e+06,"MULTIPOLYGON (((-73.97124 40.76094, -73.97170 ...",1,1,25,8,40.759424,-73.974449,0.172893
36061010400,104.0,1,Manhattan,10400,1010400,I,MN17,Midtown-Midtown South,3807,5693.036367,1.864600e+06,"MULTIPOLYGON (((-73.97446 40.76229, -73.97491 ...",1,1,21,9,40.760779,-73.977673,0.173228
36061011300,113.0,1,Manhattan,11300,1011300,I,MN17,Midtown-Midtown South,3807,5699.860640,1.890907e+06,"MULTIPOLYGON (((-73.98412 40.75484, -73.98460 ...",1,1,21,14,40.754775,-73.987870,0.175672
36061013000,130.0,1,Manhattan,13000,1013000,I,MN40,Upper East Side-Carnegie Hill,3805,5807.972956,1.918145e+06,"MULTIPOLYGON (((-73.96148 40.77432, -73.96194 ...",1,1,12,2,40.772736,-73.964734,0.178202

In [19]:
# CT_centroids=gpd.read_file('../Data/NYC_tracts.shp')
# CT_centroids.set_index('GEOID',inplace=True)
# CT_centroids.drop(columns=['geometry'],inplace=True)

In [36]:
# O_CT_df=CT_0.join(CT_centroids,how='inner')
# O_CT_df.head()

In [37]:
# D_CT_df=pd.read_csv('../Data/Top_10_CBDs.csv',index_col=0).set_index('GEOID').join(CT_centroids,how='left')
# D_CT_df.head()

In [33]:
# D_CT_df['formatted']=D_CT_df.INTPTLAT.astype(str)+"%2C"+D_CT_df.INTPTLON.astype(str)
# D_coords=D_CT_df.formatted.values[0:5]

In [34]:
# destination_coords=""
# for i in D_coords:

#     destination_coords+=i+"%7C"
    
# destination_coords=destination_coords[:-3]
# destination_coords

In [7]:
O_CT_df = CT_0.copy()
O_CT_df['formatted']=O_CT_df.Center_Lat.astype(str)+"%2C"+O_CT_df.Center_Lon.astype(str)
#_coords=D_CT_df.formatted.values[0:5]
O_CT_df.head()

,ctlabel,boro_code,boro_name,ct2010,boro_ct2010,cdeligibil,ntacode,ntaname,puma,shape_leng,shape_area,geometry,Bus_Access,Subway_Access,Bus_Count,Subway_Count,Center_Lat,Center_Lon,area_km2,formatted
geoid,,,,,,,,,,,,,,,,,,,,
36061009800,98.0,1,Manhattan,9800,1009800,I,MN19,Turtle Bay-East Midtown,3808,5534.200308,1.906016e+06,"MULTIPOLYGON (((-73.96433 40.75638, -73.96479 ...",1,1,22,3,40.755788,-73.967775,0.177075,40.75578797405885%2C-73.96777472301176
36061010200,102.0,1,Manhattan,10200,1010200,I,MN17,Midtown-Midtown South,3807,5687.802439,1.860993e+06,"MULTIPOLYGON (((-73.97124 40.76094, -73.97170 ...",1,1,25,8,40.759424,-73.974449,0.172893,40.759423723208%2C-73.9744493813563
36061010400,104.0,1,Manhattan,10400,1010400,I,MN17,Midtown-Midtown South,3807,5693.036367,1.864600e+06,"MULTIPOLYGON (((-73.97446 40.76229, -73.97491 ...",1,1,21,9,40.760779,-73.977673,0.173228,40.760778939480964%2C-73.97767289767248
36061011300,113.0,1,Manhattan,11300,1011300,I,MN17,Midtown-Midtown South,3807,5699.860640,1.890907e+06,"MULTIPOLYGON (((-73.98412 40.75484, -73.98460 ...",1,1,21,14,40.754775,-73.987870,0.175672,40.754775073606%2C-73.98786992507925
36061013000,130.0,1,Manhattan,13000,1013000,I,MN40,Upper East Side-Carnegie Hill,3805,5807.972956,1.918145e+06,"MULTIPOLYGON (((-73.96148 40.77432, -73.96194 ...",1,1,12,2,40.772736,-73.964734,0.178202,40.772735996496955%2C-73.96473354620095

In [9]:
#load new cbd's
cbd_nta = pd.read_csv('../Data/NTA_CBD_final.csv')
cbd_nta

,Unnamed: 0,ntacode,c000,area_km2,%_cbd_jobs,borocode,boroname,countyfips,ntaname,shape_area,shape_leng,geometry,Center_Lat,Center_Lon,jobs_km2
0,0,BK09,13119.0,0.161585,0.005953,3.0,Brooklyn,47,Brooklyn Heights-Cobble Hill,9.984670e+06,14253.675375,"POLYGON ((-73.99236367043254 40.689690123777, ...",40.695469,-73.994871,81189.237281
1,1,BK38,90452.0,0.336149,0.041043,3.0,Brooklyn,47,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,2.846257e+07,32363.990305,POLYGON ((-73.97905767012286 40.70595288910062...,40.692921,-73.985990,269083.057942
2,2,BK68,9567.0,0.164809,0.004341,3.0,Brooklyn,47,Fort Greene,1.648290e+07,19828.474410,POLYGON ((-73.96939450111498 40.69608038942066...,40.690795,-73.974881,58048.886737
3,3,BK73,9870.0,0.194892,0.004479,3.0,Brooklyn,47,North Side-South Side,2.886841e+07,28145.428770,POLYGON ((-73.95814292441031 40.72440428440242...,40.714916,-73.958625,50643.372409
4,4,BX43,15124.0,0.248715,0.006863,2.0,Bronx,5,Norwood,1.570888e+07,22148.645113,"POLYGON ((-73.8830938237215 40.86660218502373,...",40.877138,-73.879022,60808.524894
5,5,MN09,31654.0,0.178083,0.014363,1.0,Manhattan,61,Morningside Heights,2.015832e+07,20744.313555,POLYGON ((-73.95210125149229 40.81144285350128...,40.807886,-73.962543,177749.060872
6,6,MN13,205454.0,1.554135,0.093225,1.0,Manhattan,61,Hudson Yards-Chelsea-Flatiron-Union Square,3.702973e+07,45454.722802,"POLYGON ((-74.00153309066991 40.7626445986302,...",40.747581,-73.999009,132198.259557
7,7,MN14,25866.0,0.350484,0.011737,1.0,Manhattan,61,Lincoln Square,1.580567e+07,19866.053195,POLYGON ((-73.97499744020551 40.77753254622205...,40.774847,-73.984699,73800.855164
8,8,MN15,41089.0,0.527848,0.018644,1.0,Manhattan,61,Clinton,1.838138e+07,35037.171580,"POLYGON ((-73.9938310813699 40.77293178785064,...",40.764175,-73.992397,77842.552727
9,9,MN17,794888.0,2.804878,0.360682,1.0,Manhattan,61,Midtown-Midtown South,3.019206e+07,27035.738130,POLYGON ((-73.97301487242227 40.76427887944538...,40.755733,-73.983503,283394.821528
10,10,MN19,183391.0,1.165173,0.083214,1.0,Manhattan,61,Turtle Bay-East Midtown,1.739787e+07,21638.781206,MULTIPOLYGON (((-73.96124698011525 40.74042359...,40.754307,-73.969018,157393.854483
11,11,MN20,132214.0,0.813655,0.059992,1.0,Manhattan,61,Murray Hill-Kips Bay,1.446585e+07,23134.268048,MULTIPOLYGON (((-73.96230391870563 40.73311366...,40.744211,-73.977500,162493.871540
12,12,MN21,29070.0,0.341109,0.013191,1.0,Manhattan,61,Gramercy,7.531455e+06,12091.587932,POLYGON ((-73.97849845639811 40.73679095652548...,40.736824,-73.984051,85222.116780
13,13,MN22,6247.0,0.086439,0.002835,1.0,Manhattan,61,East Village,1.089549e+07,13539.197632,POLYGON ((-73.98255629297823 40.73135013405204...,40.727620,-73.985938,72270.834138
14,14,MN23,56353.0,0.744786,0.025570,1.0,Manhattan,61,West Village,2.500053e+07,29385.030625,POLYGON ((-73.98990295970057 40.73443479013692...,40.733055,-74.001562,75663.323807
15,15,MN24,198999.0,2.325628,0.090296,1.0,Manhattan,61,SoHo-TriBeCa-Civic Center-Little Italy,2.485957e+07,24284.700443,POLYGON ((-73.99260322198447 40.72413644968342...,40.720767,-74.004678,85567.855776
16,16,MN25,238765.0,1.549032,0.108340,1.0,Manhattan,61,Battery Park City-Lower Manhattan,1.905626e+07,45700.005462,MULTIPOLYGON (((-74.00078295275682 40.69428651...,40.708002,-74.010235,154138.228213
17,17,MN27,21575.0,0.279730,0.009790,1.0,Manhattan,61,Chinatown,1.450195e+07,20788.888972,POLYGON ((-73.98382387298197 40.72147287206694...,40.715607,-73.994630,77127.903206
18,18,MN31,40212.0,0.368367,0.018246,1.0,Manhattan,61,Lenox Hill-Roosevelt Island,2.150156e+07,37708.444332,MULTIPOLYGON (((-73.94180032729433 40.76904692...,40.764965,-73.955091,109162.999455
19,19,MN33,24574.0,0.199925,0.011151,1.0,Manhattan,61,East Harlem South,1.665074e+07,18625.042699,POLYGON ((-73.93505300005583 40.79168720290905...,40.790011,-73.945751,122915.908020
20,20,MN40,20057.0,0.197350,0.009101,1.0,Manhattan,61,Upper East Side-Carnegie Hill,2.006533e+07,23778.406402,POLYGON ((-73.94933170560962 40.78519312655764...,40.774729,-73.961175,101631.872882
21,21,QN22,15307.0,0.304418,0.006946,4.0,Queens,81,Flushing,3.786484e+07,38363.970007,POLYGON ((-73.82331286855246 40.77957865983406...,40.761092,-73.828865,50282.788698

In [10]:
#format coordinates
cbd_nta_ = cbd_nta.copy()
cbd_nta_['formatted']=cbd_nta_.Center_Lat.astype(str)+"%2C"+cbd_nta_.Center_Lon.astype(str)

cbd_nta_.head()

,Unnamed: 0,ntacode,c000,area_km2,%_cbd_jobs,borocode,boroname,countyfips,ntaname,shape_area,shape_leng,geometry,Center_Lat,Center_Lon,jobs_km2,formatted
0,0,BK09,13119.0,0.161585,0.005953,3.0,Brooklyn,47,Brooklyn Heights-Cobble Hill,9.984670e+06,14253.675375,"POLYGON ((-73.99236367043254 40.689690123777, ...",40.695469,-73.994871,81189.237281,40.69546901456318%2C-73.99487053436725
1,1,BK38,90452.0,0.336149,0.041043,3.0,Brooklyn,47,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,2.846257e+07,32363.990305,POLYGON ((-73.97905767012286 40.70595288910062...,40.692921,-73.985990,269083.057942,40.69292094322136%2C-73.98598954312642
2,2,BK68,9567.0,0.164809,0.004341,3.0,Brooklyn,47,Fort Greene,1.648290e+07,19828.474410,POLYGON ((-73.96939450111498 40.69608038942066...,40.690795,-73.974881,58048.886737,40.69079472272175%2C-73.97488147921254
3,3,BK73,9870.0,0.194892,0.004479,3.0,Brooklyn,47,North Side-South Side,2.886841e+07,28145.428770,POLYGON ((-73.95814292441031 40.72440428440242...,40.714916,-73.958625,50643.372409,40.71491614288436%2C-73.95862504781897
4,4,BX43,15124.0,0.248715,0.006863,2.0,Bronx,5,Norwood,1.570888e+07,22148.645113,"POLYGON ((-73.8830938237215 40.86660218502373,...",40.877138,-73.879022,60808.524894,40.87713763927272%2C-73.87902221695069

In [8]:
# cbd1='40.752251%2C-73.989703' #Midtown/Penn station
# cbd2='40.76235%2C-73.98235'  #Midtown North:
# cbd3='40.69329%2C-73.98770' #Downtown BK:
# cbd4= '40.71433%2C-74.01006' #FIDI
# destination_coords=cbd1+'%7C'+cbd2+'%7C'+cbd3+'%7C'+cbd4

In [16]:
destination_coords = '%7C'.join([str(i) for i in cbd_nta_['formatted']])
destination_coords

'40.69546901456318%2C-73.99487053436725%7C40.69292094322136%2C-73.98598954312642%7C40.69079472272175%2C-73.97488147921254%7C40.71491614288436%2C-73.95862504781897%7C40.87713763927272%2C-73.87902221695069%7C40.807885640003335%2C-73.96254308628663%7C40.747580845156776%2C-73.99900932456535%7C40.774846884188015%2C-73.98469896661899%7C40.76417511493104%2C-73.9923972944453%7C40.75573331633332%2C-73.98350332477767%7C40.754307249207024%2C-73.9690178307204%7C40.74421113045308%2C-73.97749988081821%7C40.73682434032308%2C-73.98405096337648%7C40.72761994449567%2C-73.98593769255129%7C40.73305499225918%2C-74.001562157646%7C40.72076695773996%2C-74.00467808225788%7C40.70800197463564%2C-74.01023503713108%7C40.715606633651085%2C-73.99462969802553%7C40.76496528629783%2C-73.95509101922376%7C40.790011056023815%2C-73.94575111356401%7C40.774728822470834%2C-73.96117455490294%7C40.76109154249856%2C-73.82886545338091'

In [9]:
#old
# destination_coords

'40.752251%2C-73.989703%7C40.76235%2C-73.98235%7C40.69329%2C-73.98770%7C40.71433%2C-74.01006'

In [63]:
# #eXAMPLE CALL

# #9AM on Monday morning
# #for i in ...
# origin_coords='40.7098961%2C-73.9855833'
# url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins="+origin_coords+"&destinations="+destination_coords+"&units=imperial&arrival_time=1681131600&mode=transit&key="+api_key

# payload={}
# headers = {}

# response = requests.request("GET", url, headers=headers, data=payload)

# data = response.json()
# json_data = response.json() if response and response.status_code == 200 else None
# json_data

In [17]:
O_CT_df.index

Int64Index([36061009800, 36061010200, 36061010400, 36061011300, 36061013000,
            36061018400, 36061020600, 36061024900, 36061026900, 36047000501,
            ...
            36081003600, 36047118600, 36047017700, 36047032700, 36005003500,
            36005007300, 36005005100, 36005006300, 36081001900, 36081017100],
           dtype='int64', name='geoid', length=2041)

In [65]:
# O_CT_df['CBD1']=np.nan
# O_CT_df['CBD2']=np.nan
# O_CT_df['CBD3']=np.nan
# O_CT_df['CBD4']=np.nan

# for geoid in O_CT_df.index.values: #uncomment this out when sure that it works!
#     origin_coords=O_CT_df.loc[geoid,'formatted']
#     #9AM on Monday morning
#     url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins="+origin_coords+"&destinations="+destination_coords+"&units=imperial&arrival_time=1681736400&mode=transit&key="+api_key

#     payload={}
#     headers = {}

#     response = requests.request("GET", url, headers=headers, data=payload)

#     data = response.json()
#     json_data = response.json() if response and response.status_code == 200 else None
#     try:
#         O_CT_df.loc[geoid,'CBD1']=round(json_data['rows'][0]['elements'][0]['duration']['value']/60) #number of minutes it takes to comute
#     except:
#         O_CT_df.loc[geoid,'CBD1']=np.nan
#     try:
#         O_CT_df.loc[geoid,'CBD2']=round(json_data['rows'][0]['elements'][1]['duration']['value']/60)
#     except:
#         O_CT_df.loc[geoid,'CBD2']==np.nan
#     try:
#         O_CT_df.loc[geoid,'CBD3']=round(json_data['rows'][0]['elements'][2]['duration']['value']/60)
#     except:
#         O_CT_df.loc[geoid,'CBD3']==np.nan
#     try:
#         O_CT_df.loc[geoid,'CBD4']=round(json_data['rows'][0]['elements'][3]['duration']['value']/60)
#     except:
#         O_CT_df.loc[geoid,'CBD4']==np.nan

In [26]:
#22 CBD
O_CT_df['CBD1']=np.nan
O_CT_df['CBD2']=np.nan
O_CT_df['CBD3']=np.nan
O_CT_df['CBD4']=np.nan
O_CT_df['CBD5']=np.nan
O_CT_df['CBD6']=np.nan
O_CT_df['CBD7']=np.nan
O_CT_df['CBD8']=np.nan
O_CT_df['CBD9']=np.nan
O_CT_df['CBD10']=np.nan
O_CT_df['CBD11']=np.nan
O_CT_df['CBD12']=np.nan
O_CT_df['CBD13']=np.nan
O_CT_df['CBD14']=np.nan
O_CT_df['CBD15']=np.nan
O_CT_df['CBD16']=np.nan
O_CT_df['CBD17']=np.nan
O_CT_df['CBD18']=np.nan
O_CT_df['CBD19']=np.nan
O_CT_df['CBD20']=np.nan
O_CT_df['CBD21']=np.nan
O_CT_df['CBD22']=np.nan


for geoid in O_CT_df.index.values: #uncomment this out when sure that it works!
    origin_coords=O_CT_df.loc[geoid,'formatted']
    #9AM on Monday morning
    url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins="+origin_coords+"&destinations="+destination_coords+"&units=imperial&arrival_time=1681736400&mode=transit&key="+api_key

    payload={}
    headers = {}

    response = requests.request("GET", url, headers=headers, data=payload)

    data = response.json()
    json_data = response.json() if response and response.status_code == 200 else None
    try:
        O_CT_df.loc[geoid,'CBD1']=round(json_data['rows'][0]['elements'][0]['duration']['value']/60) #number of minutes it takes to comute
    except:
        O_CT_df.loc[geoid,'CBD1']=np.nan
    try:
        O_CT_df.loc[geoid,'CBD2']=round(json_data['rows'][0]['elements'][1]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD2']==np.nan
    try:
        O_CT_df.loc[geoid,'CBD3']=round(json_data['rows'][0]['elements'][2]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD3']==np.nan
    try:
        O_CT_df.loc[geoid,'CBD4']=round(json_data['rows'][0]['elements'][3]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD4']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD5']=round(json_data['rows'][0]['elements'][4]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD5']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD6']=round(json_data['rows'][0]['elements'][5]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD6']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD7']=round(json_data['rows'][0]['elements'][6]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD7']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD8']=round(json_data['rows'][0]['elements'][7]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD8']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD9']=round(json_data['rows'][0]['elements'][8]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD9']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD10']=round(json_data['rows'][0]['elements'][9]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD10']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD11']=round(json_data['rows'][0]['elements'][10]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD11']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD12']=round(json_data['rows'][0]['elements'][11]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD12']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD13']=round(json_data['rows'][0]['elements'][12]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD13']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD14']=round(json_data['rows'][0]['elements'][13]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD14']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD15']=round(json_data['rows'][0]['elements'][14]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD15']==np.nan 
    try:
        O_CT_df.loc[geoid,'CBD16']=round(json_data['rows'][0]['elements'][15]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD16']==np.nan 
    try:
        O_CT_df.loc[geoid,'CBD17']=round(json_data['rows'][0]['elements'][16]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD17']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD18']=round(json_data['rows'][0]['elements'][17]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD18']==np.nan 
    try:
        O_CT_df.loc[geoid,'CBD19']=round(json_data['rows'][0]['elements'][18]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD19']==np.nan 
    try:
        O_CT_df.loc[geoid,'CBD20']=round(json_data['rows'][0]['elements'][19]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD20']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD21']=round(json_data['rows'][0]['elements'][20]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD21']==np.nan  
    try:
        O_CT_df.loc[geoid,'CBD22']=round(json_data['rows'][0]['elements'][21]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD22']==np.nan

In [66]:
response.json()

{'destination_addresses': ['480 Fashion Ave, New York, NY 10018, USA',
  'Manhattan Times Square Hotel 790 7th Ave, corner, W 52nd St, New York, NY 10019, USA',
  '350 Jay St, Brooklyn, NY 11201, USA',
  '54 Murray Street, New York, NY 10007, USA'],
 'origin_addresses': ['39-72 39th St, Queens, NY 11104, USA'],
 'rows': [{'elements': [{'distance': {'text': '5.0 mi', 'value': 8024},
     'duration': {'text': '33 mins', 'value': 1975},
     'status': 'OK'},
    {'distance': {'text': '4.0 mi', 'value': 6460},
     'duration': {'text': '27 mins', 'value': 1620},
     'status': 'OK'},
    {'distance': {'text': '9.2 mi', 'value': 14842},
     'duration': {'text': '46 mins', 'value': 2789},
     'status': 'OK'},
    {'distance': {'text': '7.2 mi', 'value': 11607},
     'duration': {'text': '42 mins', 'value': 2549},
     'status': 'OK'}]}],
 'status': 'OK'}

In [27]:
O_CT_df.head()

,ctlabel,boro_code,boro_name,ct2010,boro_ct2010,cdeligibil,ntacode,ntaname,puma,shape_leng,...,CBD13,CBD14,CBD15,CBD16,CBD17,CBD18,CBD19,CBD20,CBD21,CBD22
geoid,,,,,,,,,,,,,,,,,,,,,
36061009800,98.0,1,Manhattan,9800,1009800,I,MN19,Turtle Bay-East Midtown,3808,5534.200308,...,21.0,28.0,22.0,23.0,27.0,25.0,15.0,19.0,13.0,38.0
36061010200,102.0,1,Manhattan,10200,1010200,I,MN17,Midtown-Midtown South,3807,5687.802439,...,24.0,23.0,19.0,20.0,27.0,22.0,22.0,19.0,17.0,38.0
36061010400,104.0,1,Manhattan,10400,1010400,I,MN17,Midtown-Midtown South,3807,5693.036367,...,23.0,29.0,17.0,21.0,28.0,22.0,27.0,22.0,17.0,39.0
36061011300,113.0,1,Manhattan,11300,1011300,I,MN17,Midtown-Midtown South,3807,5699.860640,...,16.0,19.0,11.0,15.0,18.0,19.0,18.0,21.0,16.0,43.0
36061013000,130.0,1,Manhattan,13000,1013000,I,MN40,Upper East Side-Carnegie Hill,3805,5807.972956,...,28.0,31.0,32.0,32.0,36.0,36.0,11.0,17.0,6.0,51.0

In [28]:
O_CT_df.iloc[:, -22:]

,CBD1,CBD2,CBD3,CBD4,CBD5,CBD6,CBD7,CBD8,CBD9,CBD10,...,CBD13,CBD14,CBD15,CBD16,CBD17,CBD18,CBD19,CBD20,CBD21,CBD22
geoid,,,,,,,,,,,,,,,,,,,,,
36061009800,40.0,33.0,45.0,28.0,57.0,31.0,19.0,28.0,18.0,14.0,...,21.0,28.0,22.0,23.0,27.0,25.0,15.0,19.0,13.0,38.0
36061010200,37.0,30.0,42.0,26.0,54.0,27.0,15.0,25.0,14.0,10.0,...,24.0,23.0,19.0,20.0,27.0,22.0,22.0,19.0,17.0,38.0
36061010400,38.0,29.0,43.0,27.0,50.0,24.0,16.0,18.0,14.0,12.0,...,23.0,29.0,17.0,21.0,28.0,22.0,27.0,22.0,17.0,39.0
36061011300,24.0,28.0,29.0,20.0,51.0,18.0,12.0,10.0,13.0,7.0,...,16.0,19.0,11.0,15.0,18.0,19.0,18.0,21.0,16.0,43.0
36061013000,46.0,41.0,46.0,37.0,53.0,37.0,32.0,17.0,34.0,26.0,...,28.0,31.0,32.0,32.0,36.0,36.0,11.0,17.0,6.0,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36005007300,54.0,54.0,64.0,53.0,50.0,36.0,45.0,32.0,44.0,37.0,...,49.0,50.0,40.0,47.0,48.0,51.0,44.0,25.0,30.0,71.0
36005005100,51.0,46.0,55.0,40.0,40.0,38.0,37.0,31.0,40.0,30.0,...,36.0,38.0,37.0,43.0,40.0,49.0,36.0,17.0,23.0,59.0
36005006300,54.0,49.0,57.0,48.0,33.0,37.0,36.0,32.0,36.0,31.0,...,46.0,49.0,38.0,39.0,51.0,43.0,46.0,29.0,32.0,67.0
36081001900,43.0,35.0,32.0,31.0,60.0,33.0,22.0,29.0,21.0,17.0,...,25.0,28.0,25.0,26.0,32.0,28.0,27.0,24.0,18.0,34.0
36081017100,52.0,47.0,45.0,43.0,73.0,46.0,37.0,43.0,36.0,29.0,...,40.0,45.0,36.0,39.0,46.0,41.0,40.0,36.0,30.0,37.0

In [29]:
O_CT_df.to_csv('../Data/commute_tt_results.csv')