In [114]:
import requests
import pandas as pd
import numpy as np

In [ ]:
api_key=''

In [115]:
CT_0=pd.read_csv('../Data/tracts_subway_bus_access.csv',index_col=0)
CT_0.set_index('geoid',inplace=True)
#filter this based on what subway access and bus count 
CT_0.head(n=5)

,ctlabel,borocode,boroname,ct2020,boroct2020,ntaname,nta2020,cdta2020,cdtaname,shape_leng,shape_area,geometry,Bus_Access,Subway_Access,Bus_Count,Subway_Count
geoid,,,,,,,,,,,,,,,,
36061000100,1.00,1,Manhattan,100,1000100,The Battery-Governors Island-Ellis Island-Libe...,MN0191,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),11023.048501,1.844421e+06,MULTIPOLYGON (((-74.04387761639944 40.69018767...,0,0,0,0
36061000201,2.01,1,Manhattan,201,1000201,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4754.495247,9.723121e+05,MULTIPOLYGON (((-73.98449647076764 40.70950966...,1,1,23,3
36061000600,6.00,1,Manhattan,600,1000600,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6976.286456,2.582705e+06,MULTIPOLYGON (((-73.99022012669926 40.71440493...,1,1,25,4
36061001401,14.01,1,Manhattan,1401,1001401,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),5075.332000,1.006117e+06,MULTIPOLYGON (((-73.9883662631772 40.716445702...,1,1,26,4
36061001402,14.02,1,Manhattan,1402,1001402,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4459.156019,1.226206e+06,MULTIPOLYGON (((-73.98507342254645 40.71908329...,1,1,30,4

In [168]:
CT_0=CT_0[(CT_0['Subway_Access']==1)|(CT_0['Bus_Count']==1)]#remove census tracts with no public transit access

In [169]:
CT_centroids=pd.read_csv('../Data/tract_points.csv',index_col=0)

In [171]:
O_CT_df=CT_0.join(CT_centroids,how='inner')
O_CT_df.head()

,ctlabel,borocode,boroname,ct2020,boroct2020,ntaname,nta2020,cdta2020,cdtaname,shape_leng,shape_area,geometry,Bus_Access,Subway_Access,Bus_Count,Subway_Count,INTPTLAT,INTPTLON
36061000201,2.01,1,Manhattan,201,1000201,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4754.495247,9.723121e+05,MULTIPOLYGON (((-73.98449647076764 40.70950966...,1,1,23,3,40.709896,-73.985583
36061000600,6.00,1,Manhattan,600,1000600,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6976.286456,2.582705e+06,MULTIPOLYGON (((-73.99022012669926 40.71440493...,1,1,25,4,40.710258,-73.988056
36061001401,14.01,1,Manhattan,1401,1001401,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),5075.332000,1.006117e+06,MULTIPOLYGON (((-73.9883662631772 40.716445702...,1,1,26,4,40.715160,-73.987331
36061001402,14.02,1,Manhattan,1402,1001402,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4459.156019,1.226206e+06,MULTIPOLYGON (((-73.98507342254645 40.71908329...,1,1,30,4,40.717513,-73.985881
36061001800,18.00,1,Manhattan,1800,1001800,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6391.921174,2.399277e+06,MULTIPOLYGON (((-73.9898545438136 40.720520352...,1,1,28,12,40.719046,-73.990841

In [118]:
D_CT_df=pd.read_csv('../Data/Top_10_CBDs.csv',index_col=0).set_index('GEOID').join(CT_centroids,how='left')
D_CT_df.head()

,S000,geometry,centroid,INTPTLAT,INTPTLON
GEOID,,,,,
36061003100,2685.0,"POLYGON ((-74.0081 40.711995, -74.007666 40.71...",POINT (-74.00382758261063 40.7152994827978),40.715311,-74.003815
36005026100,1697.0,"POLYGON ((-73.908826 40.864854, -73.9084880000...",POINT (-73.90592673758827 40.86662591249616),40.866639,-73.905902
36061006200,1460.0,"POLYGON ((-73.97805200000001 40.737554, -73.97...",POINT (-73.96921049355817 40.73710906968163),40.736487,-73.967441
36081024000,1304.0,"POLYGON ((-73.811632 40.703052, -73.809693 40....",POINT (-73.80507658225237 40.70328602478602),40.703278,-73.805079
36047015200,1130.0,"POLYGON ((-74.02755000000001 40.612925, -74.02...",POINT (-74.02452522322966 40.61443730047879),40.614507,-74.024467

In [119]:
D_CT_df['formatted']=D_CT_df.INTPTLAT.astype(str)+"%2C"+D_CT_df.INTPTLON.astype(str)
D_coords=D_CT_df.formatted.values[0:5]

In [120]:
destination_coords=""
for i in D_coords:

    destination_coords+=i+"%7C"
    
destination_coords=destination_coords[:-3]
destination_coords

'40.715311%2C-74.0038151%7C40.866639%2C-73.90590209999999%7C40.736487100000005%2C-73.96744059999999%7C40.703277500000006%2C-73.80507929999999%7C40.614507200000006%2C-74.0244665'

In [178]:
O_CT_df['formatted']=O_CT_df.INTPTLAT.astype(str)+"%2C"+O_CT_df.INTPTLON.astype(str)
#_coords=D_CT_df.formatted.values[0:5]
O_CT_df.head()

,ctlabel,borocode,boroname,ct2020,boroct2020,ntaname,nta2020,cdta2020,cdtaname,shape_leng,...,Bus_Count,Subway_Count,INTPTLAT,INTPTLON,CBD1,CBD2,CBD3,CBD4,CBD5,formatted
36061000201,2.01,1,Manhattan,201,1000201,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4754.495247,...,23,3,40.709896,-73.985583,NaN,NaN,NaN,NaN,NaN,40.7098961%2C-73.9855833
36061000600,6.00,1,Manhattan,600,1000600,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6976.286456,...,25,4,40.710258,-73.988056,NaN,NaN,NaN,NaN,NaN,40.710257899999995%2C-73.9880558
36061001401,14.01,1,Manhattan,1401,1001401,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),5075.332000,...,26,4,40.715160,-73.987331,NaN,NaN,NaN,NaN,NaN,40.715160299999994%2C-73.9873313
36061001402,14.02,1,Manhattan,1402,1001402,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4459.156019,...,30,4,40.717513,-73.985881,NaN,NaN,NaN,NaN,NaN,40.717513399999994%2C-73.9858814
36061001800,18.00,1,Manhattan,1800,1001800,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6391.921174,...,28,12,40.719046,-73.990841,NaN,NaN,NaN,NaN,NaN,40.719046399999996%2C-73.9908408

In [122]:
#manually adjust because CBD three listed lat/lon in water
destination_coords='40.715311%2C-74.0038151%7C40.866639%2C-73.90590209999999%7C40.738837%2C-73.977086%7C40.703277500000006%2C-73.80507929999999%7C40.614507200000006%2C-74.0244665'

In [152]:
#eXAMPLE CALL
destination_coords='40.715311%2C-74.0038151%7C40.866639%2C-73.90590209999999%7C40.738837%2C-73.977086%7C40.703277500000006%2C-73.80507929999999%7C40.614507200000006%2C-74.0244665'

#9AM on Monday morning
#for i in ...
origin_coords='40.7098961%2C-73.9855833'
url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins="+origin_coords+"&destinations="+destination_coords+"&units=imperial&arrival_time=1681131600&mode=transit&key="+api_key

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

data = response.json()
json_data = response.json() if response and response.status_code == 200 else None
json_data

{'destination_addresses': ['26 Federal Plaza, New York, NY 10278, USA',
  '110 W Kingsbridge Rd, Bronx, NY 10468, USA',
  '345 E 24th St Suite 5W, New York, NY 10010, USA',
  '90-16 150th St, Queens, NY 11435, USA',
  '191 Battery Ave, Brooklyn, NY 11209, USA'],
 'origin_addresses': ['299 South St, New York, NY 10002, USA'],
 'rows': [{'elements': [{'distance': {'text': '1.3 mi', 'value': 2102},
     'duration': {'text': '20 mins', 'value': 1203},
     'status': 'OK'},
    {'distance': {'text': '14.1 mi', 'value': 22656},
     'duration': {'text': '1 hour 11 mins', 'value': 4257},
     'status': 'OK'},
    {'distance': {'text': '2.6 mi', 'value': 4114},
     'duration': {'text': '32 mins', 'value': 1909},
     'status': 'OK'},
    {'distance': {'text': '16.1 mi', 'value': 25891},
     'duration': {'text': '1 hour 7 mins', 'value': 4032},
     'status': 'OK'},
    {'distance': {'text': '8.9 mi', 'value': 14375},
     'duration': {'text': '58 mins', 'value': 3453},
     'status': 'OK'}]}],
 'status': 'OK'}

In [149]:
 O_CT_df.index.values[:10]

array([36061000100, 36061000201, 36061000600, 36061001401, 36061001402,
       36061001800, 36061002201, 36061002601, 36061002602, 36061002800])

In [183]:

destination_coords='40.715311%2C-74.0038151%7C40.866639%2C-73.90590209999999%7C40.738837%2C-73.977086%7C40.703277500000006%2C-73.80507929999999%7C40.614507200000006%2C-74.0244665'

O_CT_df['CBD1']=np.nan
O_CT_df['CBD2']=np.nan
O_CT_df['CBD3']=np.nan
O_CT_df['CBD4']=np.nan
O_CT_df['CBD5']=np.nan

for geoid in [36061000201]:
#for geoid in [36061000100, 36061000201, 36061000600, 36061001401, 36061001402,
 #      36061001800, 36061002201, 36061002601, 36061002602, 36061002800]:
#for geoid in O_CT_df.index.values: #uncomment this out when sure that it works!
    origin_coords=O_CT_df.loc[geoid,'formatted']
    #9AM on Monday morning
    url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins="+origin_coords+"&destinations="+destination_coords+"&units=imperial&arrival_time=1681131600&mode=transit&key="+api_key

    payload={}
    headers = {}

    response = requests.request("GET", url, headers=headers, data=payload)

    data = response.json()
    json_data = response.json() if response and response.status_code == 200 else None
    try:
        O_CT_df.loc[geoid,'CBD1']=round(json_data['rows'][0]['elements'][0]['duration']['value']/60) #number of minutes it takes to comute
    except:
        O_CT_df.loc[geoid,'CBD1']=np.nan
    try:
        O_CT_df.loc[geoid,'CBD2']=round(json_data['rows'][0]['elements'][1]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD2']==np.nan
    try:
        O_CT_df.loc[geoid,'CBD3']=round(json_data['rows'][0]['elements'][2]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD3']==np.nan
    try:
        O_CT_df.loc[geoid,'CBD4']=round(json_data['rows'][0]['elements'][3]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD4']==np.nan
    try:
        O_CT_df.loc[geoid,'CBD5']=round(json_data['rows'][0]['elements'][4]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD5']==np.nan

In [184]:
O_CT_df

,ctlabel,borocode,boroname,ct2020,boroct2020,ntaname,nta2020,cdta2020,cdtaname,shape_leng,...,Bus_Count,Subway_Count,INTPTLAT,INTPTLON,CBD1,CBD2,CBD3,CBD4,CBD5,formatted
36061000201,2.01,1,Manhattan,201,1000201,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4754.495247,...,23,3,40.709896,-73.985583,20.0,71.0,32.0,67.0,58.0,40.7098961%2C-73.9855833
36061000600,6.00,1,Manhattan,600,1000600,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6976.286456,...,25,4,40.710258,-73.988056,NaN,NaN,NaN,NaN,NaN,40.710257899999995%2C-73.9880558
36061001401,14.01,1,Manhattan,1401,1001401,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),5075.332000,...,26,4,40.715160,-73.987331,NaN,NaN,NaN,NaN,NaN,40.715160299999994%2C-73.9873313
36061001402,14.02,1,Manhattan,1402,1001402,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4459.156019,...,30,4,40.717513,-73.985881,NaN,NaN,NaN,NaN,NaN,40.717513399999994%2C-73.9858814
36061001800,18.00,1,Manhattan,1800,1001800,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6391.921174,...,28,12,40.719046,-73.990841,NaN,NaN,NaN,NaN,NaN,40.719046399999996%2C-73.9908408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36047032700,327.00,3,Brooklyn,32700,3032700,Prospect Lefferts Gardens-Wingate,BK0902,BK09,BK09 Crown Heights (South) (CD 9 Approximation),7322.090957,...,13,2,40.662647,-73.958796,NaN,NaN,NaN,NaN,NaN,40.6626465%2C-73.95879609999999
36005003500,35.00,2,Bronx,3500,2003500,Mott Haven-Port Morris,BX0101,BX01,BX01 Melrose-Mott Haven-Port Morris (CD 1 Appr...,5804.923889,...,15,4,40.810965,-73.908670,NaN,NaN,NaN,NaN,NaN,40.810965100000004%2C-73.9086696
36005007300,73.00,2,Bronx,7300,2007300,Melrose,BX0102,BX01,BX01 Melrose-Mott Haven-Port Morris (CD 1 Appr...,5173.768958,...,16,4,40.814675,-73.909389,NaN,NaN,NaN,NaN,NaN,40.8146752%2C-73.909389
36081047500,475.00,4,Queens,47500,4047500,Elmhurst,QN0401,QN04,QN04 Elmhurst-Corona (CD 4 Approximation),8890.142310,...,21,2,40.733637,-73.875651,NaN,NaN,NaN,NaN,NaN,40.733637200000004%2C-73.8756505
36081068700,687.00,4,Queens,68700,4068700,Rego Park,QN0601,QN06,QN06 Forest Hills-Rego Park (CD 6 Approximation),8338.971957,...,24,2,40.730311,-73.869295,NaN,NaN,NaN,NaN,NaN,40.7303105%2C-73.86929549999999