In [1]:
import requests
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
api_key=''

In [3]:
CT_0=pd.read_csv('../Data/tracts_subway_bus_access.csv',index_col=0)
CT_0.set_index('geoid',inplace=True)
#filter this based on what subway access and bus count 
CT_0.head(n=5)

,ctlabel,borocode,boroname,ct2020,boroct2020,ntaname,nta2020,cdta2020,cdtaname,shape_leng,shape_area,geometry,Bus_Access,Subway_Access,Bus_Count,Subway_Count
geoid,,,,,,,,,,,,,,,,
36061000100,1.00,1,Manhattan,100,1000100,The Battery-Governors Island-Ellis Island-Libe...,MN0191,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),11023.048501,1.844421e+06,MULTIPOLYGON (((-74.04387761639944 40.69018767...,0,0,0,0
36061000201,2.01,1,Manhattan,201,1000201,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4754.495247,9.723121e+05,MULTIPOLYGON (((-73.98449647076764 40.70950966...,1,1,23,3
36061000600,6.00,1,Manhattan,600,1000600,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6976.286456,2.582705e+06,MULTIPOLYGON (((-73.99022012669926 40.71440493...,1,1,25,4
36061001401,14.01,1,Manhattan,1401,1001401,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),5075.332000,1.006117e+06,MULTIPOLYGON (((-73.9883662631772 40.716445702...,1,1,26,4
36061001402,14.02,1,Manhattan,1402,1001402,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4459.156019,1.226206e+06,MULTIPOLYGON (((-73.98507342254645 40.71908329...,1,1,30,4

In [4]:
CT_0=CT_0[(CT_0['Subway_Access']==1)|(CT_0['Bus_Count']==1)]#remove census tracts with no public transit access

In [5]:
CT_centroids=gpd.read_file('../Data/NYC_tracts.shp')
CT_centroids.set_index('GEOID',inplace=True)
CT_centroids.drop(columns=['geometry'],inplace=True)

In [6]:
O_CT_df=CT_0.join(CT_centroids,how='inner')
O_CT_df.head()

,ctlabel,borocode,boroname,ct2020,boroct2020,ntaname,nta2020,cdta2020,cdtaname,shape_leng,...,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,Shape_Leng,Shape_Area,Center_Lat,Center_Lon,area_km2
36061000201,2.01,1,Manhattan,201,1000201,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4754.495247,...,None,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4754.495247,9.723121e+05,40.711869,-73.985848,0.090331
36061000600,6.00,1,Manhattan,600,1000600,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6976.286456,...,None,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6976.286456,2.582705e+06,40.711951,-73.989477,0.239943
36061001401,14.01,1,Manhattan,1401,1001401,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),5075.332000,...,None,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),5075.332000,1.006117e+06,40.715160,-73.987332,0.093472
36061001402,14.02,1,Manhattan,1402,1001402,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4459.156019,...,None,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4459.156019,1.226206e+06,40.717513,-73.985882,0.113919
36061001800,18.00,1,Manhattan,1800,1001800,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6391.921174,...,None,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6391.921174,2.399277e+06,40.719046,-73.990842,0.222902

In [32]:
# D_CT_df=pd.read_csv('../Data/Top_10_CBDs.csv',index_col=0).set_index('GEOID').join(CT_centroids,how='left')
# D_CT_df.head()

,S000,geometry,centroid,INTPTLAT,INTPTLON
GEOID,,,,,
36061003100,2685.0,"POLYGON ((-74.0081 40.711995, -74.007666 40.71...",POINT (-74.00382758261063 40.7152994827978),40.715311,-74.003815
36005026100,1697.0,"POLYGON ((-73.908826 40.864854, -73.9084880000...",POINT (-73.90592673758827 40.86662591249616),40.866639,-73.905902
36061006200,1460.0,"POLYGON ((-73.97805200000001 40.737554, -73.97...",POINT (-73.96921049355817 40.73710906968163),40.736487,-73.967441
36081024000,1304.0,"POLYGON ((-73.811632 40.703052, -73.809693 40....",POINT (-73.80507658225237 40.70328602478602),40.703278,-73.805079
36047015200,1130.0,"POLYGON ((-74.02755000000001 40.612925, -74.02...",POINT (-74.02452522322966 40.61443730047879),40.614507,-74.024467

In [33]:
# D_CT_df['formatted']=D_CT_df.INTPTLAT.astype(str)+"%2C"+D_CT_df.INTPTLON.astype(str)
# D_coords=D_CT_df.formatted.values[0:5]

In [34]:
# destination_coords=""
# for i in D_coords:

#     destination_coords+=i+"%7C"
    
# destination_coords=destination_coords[:-3]
# destination_coords

In [7]:
O_CT_df['formatted']=O_CT_df.Center_Lat.astype(str)+"%2C"+O_CT_df.Center_Lon.astype(str)
#_coords=D_CT_df.formatted.values[0:5]
O_CT_df.head()

,ctlabel,borocode,boroname,ct2020,boroct2020,ntaname,nta2020,cdta2020,cdtaname,shape_leng,...,NTAName,NTA2020,CDTA2020,CDTANAME,Shape_Leng,Shape_Area,Center_Lat,Center_Lon,area_km2,formatted
36061000201,2.01,1,Manhattan,201,1000201,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4754.495247,...,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4754.495247,9.723121e+05,40.711869,-73.985848,0.090331,40.711868746013195%2C-73.98584800829617
36061000600,6.00,1,Manhattan,600,1000600,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6976.286456,...,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6976.286456,2.582705e+06,40.711951,-73.989477,0.239943,40.71195059938643%2C-73.98947678968231
36061001401,14.01,1,Manhattan,1401,1001401,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),5075.332000,...,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),5075.332000,1.006117e+06,40.715160,-73.987332,0.093472,40.71516046573825%2C-73.98733213729895
36061001402,14.02,1,Manhattan,1402,1001402,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4459.156019,...,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),4459.156019,1.226206e+06,40.717513,-73.985882,0.113919,40.71751329862123%2C-73.98588163142483
36061001800,18.00,1,Manhattan,1800,1001800,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6391.921174,...,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),6391.921174,2.399277e+06,40.719046,-73.990842,0.222902,40.71904611994839%2C-73.9908421668771

In [8]:
cbd1='40.752251%2C-73.989703' #Midtown/Penn station
cbd2='40.76235%2C-73.98235'  #Midtown North:
cbd3='40.69329%2C-73.98770' #Downtown BK:
cbd4= '40.71433%2C-74.01006' #FIDI
destination_coords=cbd1+'%7C'+cbd2+'%7C'+cbd3+'%7C'+cbd4

In [11]:
destination_coords

'40.752251%2C-73.989703%7C40.76235%2C-73.98235%7C40.69329%2C-73.98770%7C40.71433%2C-74.01006'

In [12]:
# #eXAMPLE CALL

# #9AM on Monday morning
# #for i in ...
# origin_coords='40.7098961%2C-73.9855833'
# url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins="+origin_coords+"&destinations="+destination_coords+"&units=imperial&arrival_time=1681131600&mode=transit&key="+api_key

# payload={}
# headers = {}

# response = requests.request("GET", url, headers=headers, data=payload)

# data = response.json()
# json_data = response.json() if response and response.status_code == 200 else None
# json_data

In [15]:
O_CT_df.index

Int64Index([36061000201, 36061000600, 36061001401, 36061001402, 36061001800,
            36061002201, 36061003100, 36061003200, 36061003300, 36061003400,
            ...
            36081003600, 36047118600, 36047017700, 36047032700, 36005003500,
            36005007300, 36081001902, 36081017101, 36081047500, 36081068700],
           dtype='int64', length=1254)

In [19]:


O_CT_df['CBD1']=np.nan
O_CT_df['CBD2']=np.nan
O_CT_df['CBD3']=np.nan
O_CT_df['CBD4']=np.nan



for geoid in O_CT_df.index.values: #uncomment this out when sure that it works!
    origin_coords=O_CT_df.loc[geoid,'formatted']
    #9AM on Monday morning
    url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins="+origin_coords+"&destinations="+destination_coords+"&units=imperial&arrival_time=1681736400&mode=transit&key="+api_key

    payload={}
    headers = {}

    response = requests.request("GET", url, headers=headers, data=payload)

    data = response.json()
    json_data = response.json() if response and response.status_code == 200 else None
    try:
        O_CT_df.loc[geoid,'CBD1']=round(json_data['rows'][0]['elements'][0]['duration']['value']/60) #number of minutes it takes to comute
    except:
        O_CT_df.loc[geoid,'CBD1']=np.nan
    try:
        O_CT_df.loc[geoid,'CBD2']=round(json_data['rows'][0]['elements'][1]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD2']==np.nan
    try:
        O_CT_df.loc[geoid,'CBD3']=round(json_data['rows'][0]['elements'][2]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD3']==np.nan
    try:
        O_CT_df.loc[geoid,'CBD4']=round(json_data['rows'][0]['elements'][3]['duration']['value']/60)
    except:
        O_CT_df.loc[geoid,'CBD4']==np.nan

In [20]:
response.json()

{'destination_addresses': ['480 Fashion Ave, New York, NY 10018, USA',
  'Manhattan Times Square Hotel 790 7th Ave, corner, W 52nd St, New York, NY 10019, USA',
  '350 Jay St, Brooklyn, NY 11201, USA',
  '54 Murray Street, New York, NY 10007, USA'],
 'origin_addresses': ['15 Wetherole St, Queens, NY 11374, USA'],
 'rows': [{'elements': [{'distance': {'text': '8.0 mi', 'value': 12946},
     'duration': {'text': '41 mins', 'value': 2455},
     'status': 'OK'},
    {'distance': {'text': '7.3 mi', 'value': 11678},
     'duration': {'text': '38 mins', 'value': 2274},
     'status': 'OK'},
    {'distance': {'text': '13.0 mi', 'value': 20891},
     'duration': {'text': '1 hour 0 mins', 'value': 3599},
     'status': 'OK'},
    {'distance': {'text': '11.1 mi', 'value': 17831},
     'duration': {'text': '56 mins', 'value': 3359},
     'status': 'OK'}]}],
 'status': 'OK'}

In [23]:
O_CT_df.to_csv('../Data/commute_tt_results.csv')